Repository openhab/openhab-android, pull requests merged in 2018-10, with the labels that each got.

#1032 Catch specific error in Python script
  assets/store_descriptions/generate_and_validate.py
Labels: code enhancement

#1041 Remove hashCode() from AbstractConnection
  mobile/src/main/java/org/openhab/habdroid/core/connection/AbstractConnection.java
Labels: code enhancement

#1051 Update AppIntro to 5.0.1
  mobile/build.gradle
Labels: dependencies

#1054 Retry download of changelog
  travis/uploads.sh
Labels: bug

#1049 Move app string validation to separate file
  .cirrus.yml
  assets/store_descriptions/generate_and_validate.py
  travis/validate-app-strings.py
Labels: enhancement

#1056 Treat "height" parameter in webview as max height
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/MaxHeightWebView.java
  mobile/src/main/res/layout/widgetlist_webitem.xml
Labels: enhancement
