Repository openhab/openhab-android, pull requests merged in 2018-04, with the labels that each got.

#789 Defer main activity intent processing until onStart().
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
Labels: bug

#775 Refactor GCM implementation
  gcmdummy/.gitignore
  gcmdummy/build.gradle
  gcmdummy/proguard-rules.pro
  gcmdummy/src/androidTest/java/com/google/android/gms/gcm/ExampleInstrumentedTest.java
  gcmdummy/src/main/AndroidManifest.xml
  gcmdummy/src/main/java/com/google/android/gms/gcm/GoogleCloudMessaging.java
  gcmdummy/src/main/res/values/strings.xml
  mobile/build.gradle
  mobile/src/foss/java/org/openhab/habdroid/core/CloudMessagingHelper.java
  mobile/src/foss/java/org/openhab/habdroid/core/GcmIntentService.java
  mobile/src/foss/java/org/openhab/habdroid/core/NotificationDeletedBroadcastReceiver.java
  mobile/src/foss/java/org/openhab/habdroid/core/notifications/GoogleCloudMessageConnector.java
  mobile/src/foss/res/values/strings.xml
  mobile/src/full/AndroidManifest.xml
  mobile/src/full/java/org/openhab/habdroid/core/CloudMessagingHelper.java
  mobile/src/full/java/org/openhab/habdroid/core/GcmInstanceIDListenerService.java
  mobile/src/full/java/org/openhab/habdroid/core/GcmIntentService.java
  mobile/src/full/java/org/openhab/habdroid/core/GcmMessageListenerService.java
  mobile/src/full/java/org/openhab/habdroid/core/GcmRegistrationService.java
  mobile/src/full/java/org/openhab/habdroid/core/NotificationDeletedBroadcastReceiver.java
  mobile/src/full/java/org/openhab/habdroid/core/notifications/GoogleCloudMessageConnector.java
  mobile/src/full/res/values/strings.xml
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/core/GcmBroadcastReceiver.java
  mobile/src/main/java/org/openhab/habdroid/core/OpenHABVoiceService.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/AbstractConnection.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/CloudConnection.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/DefaultConnection.java
  mobile/src/main/java/org/openhab/habdroid/core/notifications/NotificationSettings.java
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/util/Constants.java
  mobile/src/main/res/values/strings.xml
  mobile/src/test/java/org/openhab/habdroid/core/connection/ConnectionFactoryTest.java
  settings.gradle
Labels: code enhancement

#806 Don't persist highlighted page link to fragment arguments.
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetListFragment.java
Labels: bug

#754 Simplify image view refresh logic.
  mobile/src/main/java/org/openhab/habdroid/util/MySmartImageView.java
Labels: code enhancement

#749 Adapt voice service to use new voice command endpoint.
  mobile/src/main/java/org/openhab/habdroid/core/OpenHABVoiceService.java
Labels: enhancement

#818 Fix merge conflict introduced with #775/#781
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
Labels: bug

#820 Correct typo in store descriptions
  assets/store_descriptions/en-US/strings.sh
Labels: localization

#824 Fix failing section switch inflation on API < 21.
  mobile/src/main/java/org/openhab/habdroid/ui/widget/SegmentedControlButton.java
  mobile/src/main/res/color/sectionswitch_bg.xml
  mobile/src/main/res/drawable/sectionswitch_bg.xml
  mobile/src/main/res/values/attrs.xml
  mobile/src/main/res/values/segcontrol_styles.xml
Labels: bug

#834 Use python script to validate descriptions
  .travis.yml
  README.md
  assets/store_descriptions/af-ZA/strings.sh
  assets/store_descriptions/ar-SA/strings.sh
  assets/store_descriptions/bg-BG/strings.sh
  assets/store_descriptions/ca-ES/strings.sh
  assets/store_descriptions/cs-CZ/strings.sh
  assets/store_descriptions/da-DK/strings.sh
  assets/store_descriptions/de-DE/strings.sh
  assets/store_descriptions/el-GR/strings.sh
  assets/store_descriptions/en-US/strings.sh
  assets/store_descriptions/en-US/strings.xml
  assets/store_descriptions/es-ES/strings.sh
  assets/store_descriptions/fi-FI/strings.sh
  assets/store_descriptions/fr-FR/strings.sh
  assets/store_descriptions/full-description-fdroid.txt.template
  assets/store_descriptions/full-description-fdroidbeta.txt.template
  assets/store_descriptions/full-description.txt.template
  assets/store_descriptions/generate_and_validate.py
  assets/store_descriptions/generate_and_validate.sh
  assets/store_descriptions/he-IL/strings.sh
  assets/store_descriptions/hu-HU/strings.sh
  assets/store_descriptions/id-ID/strings.sh
  assets/store_descriptions/it-IT/strings.sh
  assets/store_descriptions/ja-JP/strings.sh
  assets/store_descriptions/ko-KR/strings.sh
  assets/store_descriptions/lt-LT/strings.sh
  assets/store_descriptions/nl-NL/strings.sh
  assets/store_descriptions/no-NO/strings.sh
  assets/store_descriptions/pl-PL/strings.sh
  assets/store_descriptions/pt-BR/strings.sh
  assets/store_descriptions/pt-PT/strings.sh
  assets/store_descriptions/ro-RO/strings.sh
  assets/store_descriptions/ru-RU/strings.sh
  assets/store_descriptions/sr-SP/strings.sh
  assets/store_descriptions/sv-SE/strings.sh
  assets/store_descriptions/tl-PH/strings.sh
  assets/store_descriptions/tr-TR/strings.sh
  assets/store_descriptions/uk-UA/strings.sh
  assets/store_descriptions/vi-VN/strings.sh
  assets/store_descriptions/zh-CN/strings.sh
  fastlane/metadata/android/en-US/full_description.txt
  fastlane/metadata/android/en-US/short_description.txt
  travis/screenshots.sh
Labels: automation, localization

#836 Disable screenshots for now
  .travis.yml
  travis/screenshots.sh
  travis/uploads.sh
Labels: automation

#817 Sort sitemaps alphabetically
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
  mobile/src/test/java/org/openhab/habdroid/util/UtilTest.java
Labels: enhancement

#831 Improve readme
  .codecov.yml
  README.md
  docs/USAGE.md
  docs/images/get-it-on-fdroid.png
Labels: documentation

#830 Always try to load images from cache first.
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABWidget.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/util/MySmartImageView.java
  mobile/src/main/java/org/openhab/habdroid/util/MyWebImage.java
  mobile/src/test/java/org/openhab/habdroid/model/OpenHABWidgetTest.java
Labels: enhancement

#837 Improve Python script
  assets/store_descriptions/en-US/strings.xml
  assets/store_descriptions/generate_and_validate.py
  fastlane/metadata/android/en-US/full_description.txt
Labels: automation, localization

#819 Refactor HTTP client code
  mobile/src/foss/java/org/openhab/habdroid/ui/MapViewHelper.java
  mobile/src/full/java/org/openhab/habdroid/core/GcmRegistrationService.java
  mobile/src/main/java/de/duenndns/ssl/MemorizingTrustManager.java
  mobile/src/main/java/org/openhab/habdroid/core/OpenHABVoiceService.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/AbstractConnection.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/CloudConnection.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/Connection.java
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABNotificationFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.java
  mobile/src/main/java/org/openhab/habdroid/util/AsyncHttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/MyAsyncHttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/MyHttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/MyKeyManager.java
  mobile/src/main/java/org/openhab/habdroid/util/MySyncHttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/MyWebImage.java
  mobile/src/main/java/org/openhab/habdroid/util/SyncHttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
  mobile/src/test/java/org/openhab/habdroid/core/connection/ConnectionFactoryTest.java
  mobile/src/test/java/org/openhab/habdroid/core/connection/DefaultConnectionTest.java
  mobile/src/test/java/org/openhab/habdroid/core/connection/DemoConnectionTest.java
  mobile/src/test/java/org/openhab/habdroid/util/SyncHttpClientTest.java
Labels: code enhancement

#808 Update dependencies
  .travis.yml
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  mobile/build.gradle
  travis/test.sh
Labels: code enhancement

#843 Improve chart scaling.
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
Labels: enhancement
