Repository openhab/openhab-android, pull requests merged in 2018-03, with the labels that each got.

#725 Show settings button in android settings
  mobile/src/main/AndroidManifest.xml
Labels: enhancement

#727 Fix rollershutter height
  mobile/src/main/res/layout/openhabwidgetlist_rollershutteritem.xml
Labels: bug

#737 Remove analytics config
  mobile/src/main/res/xml/app_tracker.xml
  mobile/src/main/res/xml/global_tracker.xml
Labels: code enhancement

#742 Use about library fragment instead of activity.
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.java
Labels: bug

#733 Fix padding in about libraries fragment
  mobile/src/main/res/values/dimens.xml
Labels: bug

#744 Fix split screen mode
  mobile/src/main/AndroidManifest.xml
Labels: bug

#745 Remove analytics config
  mobile/src/main/res/values/analytics.xml
Labels: code enhancement

#746 Fix SVG image items
  mobile/src/main/java/org/openhab/habdroid/util/MyWebImage.java
Labels: bug

#743 Improve setpoint look
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
  mobile/src/main/res/drawable/ic_spinner_caret_black.xml
  mobile/src/main/res/drawable/ic_spinner_caret_white.xml
  mobile/src/main/res/layout/openhabwidgetlist_setpointitem.xml
  mobile/src/main/res/values/attrs.xml
  mobile/src/main/res/values/themes.xml
Labels: ui change

#688 Move from ViewPager to explicitly assigning fragments to container.
  mobile/src/androidTest/java/org/openhab/habdroid/FragmentStatusIdlingResource.java
  mobile/src/androidTest/java/org/openhab/habdroid/ProgressbarAwareTest.java
  mobile/src/androidTest/java/org/openhab/habdroid/TestWithIntro.java
  mobile/src/androidTest/java/org/openhab/habdroid/TestWithoutIntro.java
  mobile/src/androidTest/java/org/openhab/habdroid/ui/BasicWidgetTest.java
  mobile/src/androidTest/java/org/openhab/habdroid/ui/IntroActivityTest.java
  mobile/src/main/java/org/openhab/habdroid/core/NetworkConnectivityInfo.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/AbstractConnection.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionAvailabilityAwareActivity.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.java
  mobile/src/main/java/org/openhab/habdroid/core/message/MessageHandler.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABLinkedPage.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABSitemap.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABFragmentPagerAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABNotificationFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABPreferencesActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetListFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/StateRetainFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentControllerOnePane.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentControllerTwoPane.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.java
  mobile/src/main/java/org/openhab/habdroid/util/MyAsyncHttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/MyHttpClient.java
  mobile/src/main/res/anim/slide_in_bottom.xml
  mobile/src/main/res/anim/slide_out_bottom.xml
  mobile/src/main/res/drawable-hdpi/vertical_shadow_start_2dp.9.png
  mobile/src/main/res/drawable-ldrtl-hdpi/vertical_shadow_start_2dp.9.png
  mobile/src/main/res/drawable-ldrtl-mdpi/vertical_shadow_start_2dp.9.png
  mobile/src/main/res/drawable-ldrtl-xhdpi/vertical_shadow_start_2dp.9.png
  mobile/src/main/res/drawable-ldrtl-xxhdpi/vertical_shadow_start_2dp.9.png
  mobile/src/main/res/drawable-ldrtl-xxxhdpi/vertical_shadow_start_2dp.9.png
  mobile/src/main/res/drawable-mdpi/vertical_shadow_start_2dp.9.png
  mobile/src/main/res/drawable-xhdpi/vertical_shadow_start_2dp.9.png
  mobile/src/main/res/drawable-xxhdpi/vertical_shadow_start_2dp.9.png
  mobile/src/main/res/drawable-xxxhdpi/vertical_shadow_start_2dp.9.png
  mobile/src/main/res/layout/activity_main.xml
  mobile/src/main/res/layout/content_onepane.xml
  mobile/src/main/res/layout/content_twopane.xml
  mobile/src/main/res/layout/fragment_status.xml
  mobile/src/main/res/values-sw600dp-land/dimens.xml
  mobile/src/main/res/values-sw600dp-land/layout.xml
  mobile/src/main/res/values-sw600dp/dimens.xml
  mobile/src/main/res/values-sw600dp/layout.xml
  mobile/src/main/res/values-sw720dp-land/dimens.xml
  mobile/src/main/res/values-sw720dp-land/layout.xml
  mobile/src/main/res/values/layout.xml
  mobile/src/main/res/values/strings.xml
Labels: code enhancement

#759 Remove unused dependencies
  mobile/build.gradle
Labels: code enhancement

#705 Autobump version and push tag for fdroid
  .gitignore
  .travis.yml
  assets/store_descriptions/generate_and_validate.sh
  fastlane/Appfile
  fastlane/Fastfile
  travis/bump-versioncode.sh
  travis/commit-version-and-metadata.sh
  travis/key.enc
  travis/key.pub
  travis/ssh-config
Labels: automation

#766 Fix key permissions
  travis/bump-versioncode.sh
  travis/commit-version-and-metadata.sh
Labels: automation

#771 Add feature graphic
  fastlane/metadata/android/en-US/images/featureGraphic.png
Labels: automation

#769 Travis improvements
  travis/bump-versioncode.sh
  travis/commit-version-and-metadata.sh
Labels: automation

#762 Convert all model objects to be immutable
  mobile/build.gradle
  mobile/src/main/java/org/openhab/habdroid/model/OpenHAB1Sitemap.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHAB1Widget.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHAB2Sitemap.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHAB2Widget.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABItem.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABLinkedPage.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABNFCActionList.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABNotification.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABSitemap.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABSitemapPage.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABWidget.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABWidgetDataSource.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABWidgetMapping.java
  mobile/src/main/java/org/openhab/habdroid/model/thing/ThingType.java
  mobile/src/main/java/org/openhab/habdroid/model/thing/ThingTypeChannel.java
  mobile/src/main/java/org/openhab/habdroid/model/thing/ThingTypeChannelGroup.java
  mobile/src/main/java/org/openhab/habdroid/model/thing/ThingTypeConfigParameter.java
  mobile/src/main/java/org/openhab/habdroid/model/thing/ThingTypeProperty.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABNotificationAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABNotificationFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetListFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentControllerTwoPane.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.java
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
  mobile/src/test/java/org/openhab/habdroid/model/OpenHAB1WidgetTest.java
  mobile/src/test/java/org/openhab/habdroid/model/OpenHAB2WidgetTest.java
  mobile/src/test/java/org/openhab/habdroid/model/OpenHABItemTest.java
  mobile/src/test/java/org/openhab/habdroid/model/OpenHABSitemapTest.java
  mobile/src/test/java/org/openhab/habdroid/model/OpenHABWidgetTest.java
  mobile/src/test/java/org/openhab/habdroid/util/UtilTest.java
Labels: code enhancement

#774 WIP: Add beta suffix to package name
  .travis.yml
  mobile/build.gradle
  mobile/src/beta/res/values/strings.xml
  travis/build-and-test-apk.sh
  travis/commit-version-and-metadata.sh
Labels: automation, code enhancement

#776 Fix deploy
  .travis.yml
  travis/build-and-test-apk.sh
Labels: automation

#777 Clean up NFC write tag activity.
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWriteTagActivity.java
Labels: code enhancement

#764 Clean up service resolving code.
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/util/AsyncServiceResolver.java
  mobile/src/main/java/org/openhab/habdroid/util/AsyncServiceResolverListener.java
Labels: code enhancement

#740 Use gradle witness for dependency verification
  gradle/wrapper/gradle-wrapper.properties
  mobile/build.gradle
  mobile/libs/.android_stupid
  mobile/libs/gradle-witness.jar
Labels: code enhancement

#784 Change value colors according to theme background
  mobile/src/androidTest/java/org/openhab/habdroid/ui/WidgetAdapterTest.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABWidget.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
  mobile/src/main/res/values/arrays.xml
  mobile/src/main/res/values/attrs.xml
  mobile/src/main/res/values/themes.xml
  mobile/src/test/java/org/openhab/habdroid/model/OpenHABWidgetTest.java
Labels: bug

#772 Add fastlane templates for fdroid
  README.md
  assets/direct-apk-download.png
  assets/store_descriptions/en-US/strings.sh
  assets/store_descriptions/full-description-fdroid.txt.template
  assets/store_descriptions/full-description-fdroidbeta.txt.template
  assets/store_descriptions/generate_and_validate.sh
  fastlane/metadata/android/en-US/images/featureGraphic.png
  fastlane/metadata/android/en-US/images/icon.png
  travis/commit-version-and-metadata.sh
Labels: automation

#793 Fix stray slash in notification icon URL generation.
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABNotificationAdapter.java
Labels: bug

#786 Properly clear fragments and view pool after connection changes.
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
Labels: bug

#792 Fix OpenHABNotification object annotations.
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABNotification.java
Labels: bug

#798 Only run screengrab in en-US for now
  fastlane/Screengrabfile
Labels: automation

#797 Pass NFC test on all locales
  .travis.yml
  fastlane/Screengrabfile
  mobile/src/androidTest/java/org/openhab/habdroid/screengrab/ScreengrabTest.java
  mobile/src/androidTest/java/org/openhab/habdroid/ui/BasicWidgetTest.java
  mobile/src/androidTest/java/org/openhab/habdroid/ui/NfcTest.java
  travis/prepare-deploy.sh
Labels: automation, bug

#799 Fix deploy
  travis/prepare-deploy.sh
Labels: automation

#805 Fix KeyChain handling in preferences.
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABPreferencesActivity.java
Labels: bug

#779 Make app_name for beta builds translatable
  mobile/src/beta/res/values/strings.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/stable/res/values/strings.xml
Labels: localization

#807 Fix deploy
  .travis.yml
  fastlane/Screengrabfile
  fastlane/metadata/android/screenshots.html
  travis/prepare-deploy.sh
  travis/screenshots.sh
  travis/start-emulator.sh
Labels: automation
