Repository openhab/openhab-android, pull requests merged in 2018-05, with the labels that each got.

#864 Remove duplicate string files
  mobile/src/beta/res/values-he/strings.xml
  mobile/src/beta/res/values-id/strings.xml
  mobile/src/beta/res/values-yi/strings.xml
  mobile/src/foss/res/values-he/strings.xml
  mobile/src/foss/res/values-id/strings.xml
  mobile/src/foss/res/values-yi/strings.xml
  mobile/src/full/res/values-he/strings.xml
  mobile/src/full/res/values-id/strings.xml
  mobile/src/full/res/values-yi/strings.xml
  mobile/src/main/res/values-he/strings.xml
  mobile/src/main/res/values-id/strings.xml
Labels: localization

#875 Minor string improvements
  mobile/src/main/res/values/strings.xml
Labels: code enhancement

#858 Implement a preference controlling chart scaling
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/ChartScalingPreference.java
  mobile/src/main/java/org/openhab/habdroid/util/Constants.java
  mobile/src/main/res/layout-v21/chart_scaling_pref.xml
  mobile/src/main/res/layout/chart_scaling_pref.xml
  mobile/src/main/res/values/arrays.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
Labels: enhancement

#871 Fix voice interpreter API URL.
  mobile/src/main/java/org/openhab/habdroid/core/OpenHABVoiceService.java
  mobile/src/main/java/org/openhab/habdroid/util/SyncHttpClient.java
Labels: bug

#870 Fix handling of URL query parameters.
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.java
Labels: bug

#862 Update USAGE.md
  docs/USAGE.md
Labels: documentation

#872 Fix voice service toast generation.
  mobile/src/main/java/org/openhab/habdroid/core/OpenHABVoiceService.java
Labels: bug

#899 Remove unneeded try catch in voice command funtionality
  mobile/src/main/java/org/openhab/habdroid/core/OpenHABVoiceService.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
Labels: code enhancement

#816 Change intro slides
  mobile/src/androidTest/java/org/openhab/habdroid/ui/IntroActivityTest.java
  mobile/src/main/java/org/openhab/habdroid/ui/IntroActivity.java
  mobile/src/main/res/drawable-xxxhdpi/demo_mode.png
  mobile/src/main/res/drawable-xxxhdpi/themes.png
  mobile/src/main/res/drawable/ic_color_lens_orange_340dp.xml
  mobile/src/main/res/drawable/ic_mic_orange_340dp.xml
  mobile/src/main/res/drawable/ic_nfc_orange_340dp.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#905 Add arrow to widget when clicking opens a sub page
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
  mobile/src/main/res/drawable/ic_keyboard_arrow_right_black_24dp.xml
  mobile/src/main/res/drawable/ic_keyboard_arrow_right_white_24dp.xml
  mobile/src/main/res/layout/openhabwidgetlist_groupitem.xml
  mobile/src/main/res/layout/openhabwidgetlist_textitem.xml
  mobile/src/main/res/values/attrs.xml
  mobile/src/main/res/values/themes.xml
Labels: enhancement

#848 Improve notification UI
  mobile/build.gradle
  mobile/src/full/java/org/openhab/habdroid/core/GcmMessageListenerService.java
  mobile/src/full/res/drawable/ic_openhab_appicon_white_24dp.xml
  mobile/src/full/res/values/strings.xml
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABNotification.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABNotificationAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABNotificationFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetListFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
  mobile/src/main/res/drawable/ic_connection_error.xml
  mobile/src/main/res/drawable/ic_no_notifications.xml
  mobile/src/main/res/layout/list_loading_item.xml
  mobile/src/main/res/layout/openhabnotificationlist_fragment.xml
  mobile/src/main/res/layout/openhabnotificationlist_item.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement
