Repository openhab/openhab-android, pull requests merged in 2018-12, with the labels that each got.

#1109 Fix SSE sitemap event handling.
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.java
Labels: bug

#1122 Fix back arrow behavior in about
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.java
Labels: bug

#1127 Retry UI tests if they fail
  travis/test.sh
Labels: automation

#1130 Remove getString() from Toasty call
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.java
Labels: code enhancement

#1138 Show URL settings hint when URL is not set
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.java
Labels: bug

#1135 Add activity to view and share adb log
  .github/ISSUE_TEMPLATE/bug-report.md
  mobile/build.gradle
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/ui/LogActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.java
  mobile/src/main/java/org/openhab/habdroid/util/Constants.java
  mobile/src/main/res/drawable/ic_delete_white_24dp.xml
  mobile/src/main/res/drawable/ic_playlist_remove_black_120dp.xml
  mobile/src/main/res/drawable/ic_share_white_24dp.xml
  mobile/src/main/res/drawable/ic_subject_grey_24dp.xml
  mobile/src/main/res/layout/activity_log.xml
  mobile/src/main/res/menu/log_menu.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
Labels: enhancement

#1145 Show hint if a page doesn't contain visible elements
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.java
  mobile/src/main/res/drawable/ic_visibility_off_grey_120dp.xml
  mobile/src/main/res/layout/fragment_widgetlist.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1151 Add logging for SSE events
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.java
Labels: code enhancement

#1131 Enhance status fragments
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
  mobile/src/main/res/drawable/ic_signal_wifi_0_bar_black_24dp.xml
  mobile/src/main/res/drawable/ic_signal_wifi_off_black_24dp.xml
  mobile/src/main/res/layout/fragment_status.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1158 Make sure Travis jobs fail if build fails
  travis/test.sh
Labels: bug
