Repository openhab/openhab-android, pull requests merged in 2018-02, with the labels that each got.

#712 Change title bar color in "last apps" to themed color
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
Labels: bug

#700 Simplify intro code and change font
  mobile/src/main/java/org/openhab/habdroid/ui/IntroActivity.java
Labels: code enhancement

#568 Fix some lint errors
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABItem.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/util/AsyncServiceResolver.java
  mobile/src/main/java/org/openhab/habdroid/util/MyHttpClient.java
Labels: code enhancement

#716 Include intro libary strings for easy translation
  mobile/src/main/res/values/strings.xml
Labels: localization

#703 Use Android Log instead of System.out.print
  mobile/src/main/java/de/duenndns/ssl/MemorizingActivity.java
  mobile/src/main/java/de/duenndns/ssl/MemorizingTrustManager.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHAB2Sitemap.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHAB2Widget.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABItem.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABLinkedPage.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABNotification.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABWidgetDataSource.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABNotificationFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABPreferencesActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetListFragment.java
  mobile/src/main/java/org/openhab/habdroid/util/MjpegStreamer.java
  mobile/src/main/java/org/openhab/habdroid/util/MyWebImage.java
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
Labels: code enhancement

#702 Play no ringtone if set to mute
  mobile/src/full/java/org/openhab/habdroid/core/GcmIntentService.java
Labels: bug

#719 Disallow "HTTP error code" in translations
  assets/store_descriptions/generate_and_validate.sh
Labels: automation, localization

#685 Time in notification is now is sending time / 2nd try
  mobile/src/full/java/org/openhab/habdroid/core/GcmIntentService.java
Labels: enhancement

#482 Remove crash reporting from foss build
  build.gradle
  mobile/build.gradle
Labels: code enhancement

#562 Get rid of magically passed around connection data
  mobile/build.gradle
  mobile/src/androidTest/java/org/openhab/habdroid/ProgressbarAwareTest.java
  mobile/src/androidTest/java/org/openhab/habdroid/TestWithIntro.java
  mobile/src/androidTest/java/org/openhab/habdroid/TestWithoutIntro.java
  mobile/src/androidTest/java/org/openhab/habdroid/ui/IntroActivityTest.java
  mobile/src/full/java/org/openhab/habdroid/core/notifications/GoogleCloudMessageConnector.java
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/core/ConnectivityChangeReceiver.java
  mobile/src/main/java/org/openhab/habdroid/core/OpenHABApplication.java
  mobile/src/main/java/org/openhab/habdroid/core/OpenHABTracker.java
  mobile/src/main/java/org/openhab/habdroid/core/OpenHABTrackerReceiver.java
  mobile/src/main/java/org/openhab/habdroid/core/OpenHABVoiceService.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/AbstractConnection.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/Connection.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionAvailabilityAwareActivity.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/DefaultConnection.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/DemoConnection.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/exception/ConnectionException.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/exception/NetworkNotAvailableException.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/exception/NetworkNotSupportedException.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/exception/NoUrlInformationException.java
  mobile/src/main/java/org/openhab/habdroid/core/message/MessageHandler.java
  mobile/src/main/java/org/openhab/habdroid/core/notifications/NotificationSettings.java
  mobile/src/main/java/org/openhab/habdroid/ui/IntroActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABAboutActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABFragmentPagerAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABInfoFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABNotificationAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABNotificationFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABPreferencesActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetListFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/drawer/OpenHABDrawerAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/ColorPicker.java
  mobile/src/main/java/org/openhab/habdroid/util/Constants.java
  mobile/src/main/java/org/openhab/habdroid/util/ContinuingIntentService.java
  mobile/src/main/java/org/openhab/habdroid/util/MyAsyncHttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/MyHttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/MySyncHttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/MyWebImage.java
  mobile/src/main/res/drawable/ic_signal_cellular_off_black_24dp.xml
  mobile/src/main/res/layout/activity_main_onepane.xml
  mobile/src/main/res/layout/fragment_no_network.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
  mobile/src/test/java/org/openhab/habdroid/core/connection/ConnectionFactoryTest.java
  mobile/src/test/java/org/openhab/habdroid/core/connection/DefaultConnectionTest.java
  mobile/src/test/java/org/openhab/habdroid/core/connection/DemoConnectionTest.java
  mobile/src/test/java/org/openhab/habdroid/util/MySyncHttpClientTest.java
Labels: code enhancement, enhancement
