Repository openhab/openhab-android, pull requests merged in 2018-06, with the labels that each got.

#850 Refactor image loading
  mobile/build.gradle
  mobile/src/full/java/org/openhab/habdroid/ui/MapViewHelper.java
  mobile/src/full/res/layout/openhabwidgetlist_mapitem.xml
  mobile/src/main/java/org/openhab/habdroid/core/connection/AbstractConnection.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABNotificationAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABPreferencesActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/WidgetImageView.java
  mobile/src/main/java/org/openhab/habdroid/util/AsyncHttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/CacheManager.java
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/MjpegInputStream.java
  mobile/src/main/java/org/openhab/habdroid/util/MjpegStreamer.java
  mobile/src/main/java/org/openhab/habdroid/util/MySmartImageView.java
  mobile/src/main/java/org/openhab/habdroid/util/MyWebImage.java
  mobile/src/main/java/org/openhab/habdroid/util/SyncHttpClient.java
  mobile/src/main/res/drawable-hdpi/blank_icon.png
  mobile/src/main/res/drawable/ic_image_loading_black.xml
  mobile/src/main/res/drawable/ic_image_loading_white.xml
  mobile/src/main/res/layout/openhabnotificationlist_item.xml
  mobile/src/main/res/layout/openhabwidgetlist_chartitem.xml
  mobile/src/main/res/layout/openhabwidgetlist_icontext.xml
  mobile/src/main/res/layout/openhabwidgetlist_imageitem.xml
  mobile/src/main/res/layout/openhabwidgetlist_videomjpegitem.xml
  mobile/src/main/res/values/attrs.xml
  mobile/src/main/res/values/dimens.xml
  mobile/src/main/res/values/themes.xml
  mobile/src/test/java/org/openhab/habdroid/TestUtils.java
  mobile/src/test/java/org/openhab/habdroid/core/connection/ConnectionFactoryTest.java
  mobile/src/test/java/org/openhab/habdroid/core/connection/DefaultConnectionTest.java
  mobile/src/test/java/org/openhab/habdroid/core/connection/DemoConnectionTest.java
  mobile/src/test/java/org/openhab/habdroid/util/SyncHttpClientTest.java
Labels: enhancement

#919 Change svg height/width to "100%"
  mobile/src/main/java/org/openhab/habdroid/util/AsyncHttpClient.java
Labels: bug

#909 Show sitemap selection dialog after clearing it in the settings
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABPreferencesActivity.java
Labels: bug

#924 Optimize widget list update handling.
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
Labels: code enhancement

#921 Add support for relative urls in webview
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.java
Labels: bug

#920 Add vibration and led light to notifications
  mobile/src/full/AndroidManifest.xml
  mobile/src/full/java/org/openhab/habdroid/core/GcmMessageListenerService.java
  mobile/src/main/java/org/openhab/habdroid/util/Constants.java
  mobile/src/main/res/values/arrays.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
Labels: enhancement

#917 Use upstream HoloColorPicker instead of rolling our own.
  mobile/build.gradle
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABItem.java
  mobile/src/main/java/org/openhab/habdroid/model/OpenHABWidget.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/ColorPicker.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/ColorPickerDialog.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/OnColorChangedListener.java
  mobile/src/main/res/layout-land/color_picker_dialog.xml
  mobile/src/main/res/layout/color_picker_dialog.xml
Labels: enhancement

#922 Try to fix failing travis
  build.gradle
  mobile/build.gradle
Labels: bug

#916 Add a common base class for view holders displaying label + value.
  .travis.yml
  mobile/build.gradle
  mobile/src/androidTest/java/org/openhab/habdroid/ui/BasicWidgetTest.java
  mobile/src/full/java/org/openhab/habdroid/ui/MapViewHelper.java
  mobile/src/full/res/layout/openhabwidgetlist_mapitem.xml
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABWidgetAdapter.java
  mobile/src/main/res/layout/openhabwidgetlist_chartitem.xml
  mobile/src/main/res/layout/openhabwidgetlist_coloritem.xml
  mobile/src/main/res/layout/openhabwidgetlist_genericitem.xml
  mobile/src/main/res/layout/openhabwidgetlist_groupitem.xml
  mobile/src/main/res/layout/openhabwidgetlist_iconsmallvaluetext.xml
  mobile/src/main/res/layout/openhabwidgetlist_icontext.xml
  mobile/src/main/res/layout/openhabwidgetlist_iconvaluetext.xml
  mobile/src/main/res/layout/openhabwidgetlist_imageitem.xml
  mobile/src/main/res/layout/openhabwidgetlist_rollershutteritem.xml
  mobile/src/main/res/layout/openhabwidgetlist_sectionswitchitem.xml
  mobile/src/main/res/layout/openhabwidgetlist_selectionitem.xml
  mobile/src/main/res/layout/openhabwidgetlist_setpointitem.xml
  mobile/src/main/res/layout/openhabwidgetlist_slideritem.xml
  mobile/src/main/res/layout/openhabwidgetlist_switchitem.xml
  mobile/src/main/res/layout/openhabwidgetlist_textitem.xml
  mobile/src/main/res/layout/openhabwidgetlist_videoitem.xml
  mobile/src/main/res/layout/openhabwidgetlist_webitem.xml
  mobile/src/main/res/values/styles.xml
Labels: enhancement

#926 Use HTML link in F-Droid description
  assets/store_descriptions/en-US/strings.xml
Labels: bug

#927 Change link to key auth how-to
  KeyAuth.md
  mobile/src/main/res/values/strings.xml
Labels: documentation

#849 Update MTM and remove SSL ignore prefs
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/de/duenndns/ssl/MemorizingActivity.java
  mobile/src/main/java/de/duenndns/ssl/MemorizingResponder.java
  mobile/src/main/java/de/duenndns/ssl/MemorizingTrustManager.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/AbstractConnection.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/Connection.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/DefaultConnection.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/DemoConnection.java
  mobile/src/main/java/org/openhab/habdroid/ui/AnchorWebViewClient.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABPreferencesActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentControllerOnePane.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentControllerTwoPane.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/SSLClientCertificatePreference.java
  mobile/src/main/java/org/openhab/habdroid/util/AsyncHttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/Constants.java
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/SyncHttpClient.java
  mobile/src/main/res/drawable/ic_help_circle_outline.xml
  mobile/src/main/res/layout/ssl_client_cert_pref.xml
  mobile/src/main/res/values-v21/themes.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/values/themes.xml
  mobile/src/main/res/xml/preferences.xml
  mobile/src/main/res/xml/ssl_preferences.xml
  mobile/src/test/java/org/openhab/habdroid/TestUtils.java
  mobile/src/test/java/org/openhab/habdroid/core/connection/ConnectionFactoryTest.java
  mobile/src/test/java/org/openhab/habdroid/core/connection/DefaultConnectionTest.java
  mobile/src/test/java/org/openhab/habdroid/core/connection/DemoConnectionTest.java
  mobile/src/test/java/org/openhab/habdroid/util/SyncHttpClientTest.java
Labels: enhancement

#923 Don't show "Could not discover" message when on mobile data
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
  mobile/src/main/res/values/strings.xml
Labels: bug

#908 Use networkSecurityConfig to disallow http to myopenhab.org
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/ui/OpenHABMainActivity.java
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/network_security_config.xml
Labels: enhancement
