Repository openhab/openhab-android, pull requests merged in 2019-11, with the labels that each got.

#1649 Fix connection summary always set to insecure
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
Labels: bug

#1655 Increase logging in IntroActivity
  mobile/src/main/java/org/openhab/habdroid/ui/IntroActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: code enhancement

#1630 Support Tasker variables
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/TaskerItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/TaskerPlugin.java
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1657 Move font scaling workaround to base class.
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractBaseActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: bug

#1654 Readme: Add link to the documentation
  README.md
Labels: documentation

#1660 Fix slider behavior for color items.
  mobile/src/main/java/org/openhab/habdroid/model/ParsedState.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
Labels: bug

#1668 Add GitHub Actions config
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/label.yml
  .github/workflows/validate-strings.yml
Labels: automation

#1672 Stickler: No checkstyle and no auto fix
  .stickler.yml
  stickler/checkstyle.xml
Labels: automation

#1671 Actions: Reduce number of tasks
  .github/workflows/build.yml
  .github/workflows/label.yml
  .github/workflows/validate-strings.yml
Labels: automation

#1554 Hide Sitemaps in drawer
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/Constants.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
  mobile/src/main/res/menu/left_drawer.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
Labels: enhancement

#1666 Make variable TAG private
  mobile/src/main/java/org/openhab/habdroid/ui/widget/WidgetImageView.kt
  mobile/src/main/java/org/openhab/habdroid/util/CustomBackupAgent.kt
Labels: code enhancement

#1676 Deduplicate string in Drawer
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/res/menu/left_drawer.xml
  mobile/src/main/res/values/strings.xml
Labels: code enhancement

#1670 Support Tasker error reporting
  docs/USAGE.md
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/java/org/openhab/habdroid/ui/TaskerItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/TaskerPlugin.java
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1667 Handle new `anyFormat` parameter
  mobile/src/main/java/org/openhab/habdroid/model/LinkedPage.kt
  mobile/src/main/java/org/openhab/habdroid/model/ServerProperties.kt
  mobile/src/main/java/org/openhab/habdroid/model/Widget.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemPickerAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/ItemUpdateWidget.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
  mobile/src/test/java/org/openhab/habdroid/model/WidgetTest.kt
Labels: enhancement

#1627 Create home screen widget via long press menu
  mobile/src/androidTest/java/org/openhab/habdroid/ui/NfcTest.kt
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/ItemUpdateWidget.kt
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1679 Don't run unit tests in Travis
  CONTRIBUTING.md
  travis/test.sh
Labels: automation

#1678 Remove Cirrus CI job
  .cirrus.yml
  CONTRIBUTING.md
Labels: automation

#1680 Remove Labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: automation

#1682 Bump material from 1.1.0-beta01 to 1.1.0-beta02
  mobile/build.gradle
Labels: dependencies

#1685 Next try to fix AccessibilityNodeInfo StackOverflowError
  mobile/build.gradle
Labels: bug

#1600 Switch to OkHttp-internal SSE implementation.
  mobile/build.gradle
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.kt
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.kt
Labels: code enhancement

#1693 Include "Beta" in Tasker plugin
  mobile/src/beta/res/values/strings.xml
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/stable/res/values/strings.xml
Labels: enhancement

#1631 Choose between item commands and item updates in Tasker plugin
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/TaskerItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.kt
  mobile/src/main/java/org/openhab/habdroid/util/SuggestedCommandsFactory.kt
  mobile/src/main/res/layout/activity_item_picker.xml
  mobile/src/main/res/layout/tasker_item_picker_config.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1704 Don't force NFC item picker into non-fullscreen
  mobile/src/main/java/org/openhab/habdroid/ui/NfcInfoActivity.kt
Labels: bug

#1699 Make widget label configurable
  mobile/src/main/java/org/openhab/habdroid/ui/ItemUpdateWidgetItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/ItemUpdateWidget.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/res/layout/activity_item_picker.xml
  mobile/src/main/res/layout/widget_item_picker_config.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1694 Show hint in nfc item picker
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/NfcItemPickerActivity.kt
  mobile/src/main/res/layout/nfc_item_picker_config.xml
Labels: enhancement

#1703 Add pink and gold as supported colors
  mobile/src/main/res/values/arrays.xml
Labels: enhancement

#1705 Item Picker: Wait for connection
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractItemPickerActivity.kt
Labels: bug
