Repository openhab/openhab-android, pull requests merged in 2019-06, with the labels that each got.

#1350 Update App Store description
  assets/store_descriptions/en-US/strings.xml
  assets/store_descriptions/generate_and_validate.py
Labels: documentation

#1338 Add Tasker/Locale action plugin
  README.md
  assets/store_descriptions/en-US/strings.xml
  assets/store_descriptions/generate_and_validate.py
  docs/USAGE.md
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.java
  mobile/src/main/java/org/openhab/habdroid/model/Item.java
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractBaseActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/ItemPickerActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/ItemPickerAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.java
  mobile/src/main/java/org/openhab/habdroid/util/Constants.java
  mobile/src/main/java/org/openhab/habdroid/util/SuggestedCommandsFactory.java
  mobile/src/main/java/org/openhab/habdroid/util/TaskerIntent.java
  mobile/src/main/res/drawable/ic_search_white_24dp.xml
  mobile/src/main/res/layout/activity_item_picker.xml
  mobile/src/main/res/layout/itempickerlist_item.xml
  mobile/src/main/res/menu/item_picker.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
Labels: enhancement

#1386 Python: Remove redundant parentheses
  assets/store_descriptions/generate_and_validate.py
Labels: code enhancement

#1398 Fix Travis build
  .travis.yml
Labels: automation

#1399 Use UTF-8 for basic authentication password
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.kt
Labels: bug

#1400 Don't allow scrolling OSM if position is null
  mobile/src/foss/java/org/openhab/habdroid/ui/MapViewHelper.kt
Labels: bug

#1402 Don't show item update animation
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
Labels: bug

#1174 Add proper handling for invisible widgets.
  mobile/src/main/java/org/openhab/habdroid/model/ServerProperties.kt
  mobile/src/main/java/org/openhab/habdroid/model/Widget.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.kt
  mobile/src/main/res/layout/widgetlist_invisibleitem.xml
Labels: bug

#1419 Make log selectable
  mobile/src/main/res/layout/activity_log.xml
Labels: enhancement

#1422 Fix sitemap entries in drawer opening wrong sitemaps.
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: bug

#1405 Improve command suggestions
  mobile/src/main/java/org/openhab/habdroid/util/SuggestedCommandsFactory.kt
Labels: enhancement
