Repository openhab/openhab-android, pull requests merged in 2019-02, with the labels that each got.

#1187 Add networkSecurityConfig to allow user added CAs
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/res/xml/network_security_config.xml
Labels: bug

#1166 Add app shortcuts
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.java
  mobile/src/main/res/mipmap-anydpi-v26/ic_shortcut_habpanel.xml
  mobile/src/main/res/mipmap-anydpi-v26/ic_shortcut_notifications.xml
  mobile/src/main/res/mipmap-anydpi-v26/ic_shortcut_voice_recognition.xml
  mobile/src/main/res/mipmap-hdpi/ic_shortcut_habpanel.png
  mobile/src/main/res/mipmap-hdpi/ic_shortcut_habpanel_foreground.png
  mobile/src/main/res/mipmap-hdpi/ic_shortcut_notifications.png
  mobile/src/main/res/mipmap-hdpi/ic_shortcut_notifications_foreground.png
  mobile/src/main/res/mipmap-hdpi/ic_shortcut_voice_recognition.png
  mobile/src/main/res/mipmap-hdpi/ic_shortcut_voice_recognition_foreground.png
  mobile/src/main/res/mipmap-mdpi/ic_shortcut_habpanel.png
  mobile/src/main/res/mipmap-mdpi/ic_shortcut_habpanel_foreground.png
  mobile/src/main/res/mipmap-mdpi/ic_shortcut_notifications.png
  mobile/src/main/res/mipmap-mdpi/ic_shortcut_notifications_foreground.png
  mobile/src/main/res/mipmap-mdpi/ic_shortcut_voice_recognition.png
  mobile/src/main/res/mipmap-mdpi/ic_shortcut_voice_recognition_foreground.png
  mobile/src/main/res/mipmap-xhdpi/ic_shortcut_habpanel.png
  mobile/src/main/res/mipmap-xhdpi/ic_shortcut_habpanel_foreground.png
  mobile/src/main/res/mipmap-xhdpi/ic_shortcut_notifications.png
  mobile/src/main/res/mipmap-xhdpi/ic_shortcut_notifications_foreground.png
  mobile/src/main/res/mipmap-xhdpi/ic_shortcut_voice_recognition.png
  mobile/src/main/res/mipmap-xhdpi/ic_shortcut_voice_recognition_foreground.png
  mobile/src/main/res/mipmap-xxhdpi/ic_shortcut_habpanel.png
  mobile/src/main/res/mipmap-xxhdpi/ic_shortcut_habpanel_foreground.png
  mobile/src/main/res/mipmap-xxhdpi/ic_shortcut_notifications.png
  mobile/src/main/res/mipmap-xxhdpi/ic_shortcut_notifications_foreground.png
  mobile/src/main/res/mipmap-xxhdpi/ic_shortcut_voice_recognition.png
  mobile/src/main/res/mipmap-xxhdpi/ic_shortcut_voice_recognition_foreground.png
  mobile/src/main/res/mipmap-xxxhdpi/ic_shortcut_habpanel.png
  mobile/src/main/res/mipmap-xxxhdpi/ic_shortcut_habpanel_foreground.png
  mobile/src/main/res/mipmap-xxxhdpi/ic_shortcut_notifications.png
  mobile/src/main/res/mipmap-xxxhdpi/ic_shortcut_notifications_foreground.png
  mobile/src/main/res/mipmap-xxxhdpi/ic_shortcut_voice_recognition.png
  mobile/src/main/res/mipmap-xxxhdpi/ic_shortcut_voice_recognition_foreground.png
  mobile/src/main/res/values/colors.xml
  mobile/src/main/res/values/ic_launcher_background.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1194 Scale svg correctly
  mobile/src/main/java/org/openhab/habdroid/ui/CloudNotificationAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/WidgetImageView.java
  mobile/src/main/java/org/openhab/habdroid/util/AsyncHttpClient.java
  mobile/src/main/res/layout/notificationlist_item.xml
  mobile/src/main/res/layout/widgetlist_icontext.xml
  mobile/src/main/res/values/dimens.xml
Labels: bug

#1195 Fix crash with MapView if item has no state
  mobile/src/full/java/org/openhab/habdroid/ui/MapViewHelper.java
Labels: bug

#1189 Show hints if using wrong protocol to wrong ports
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/UrlInputPreference.java
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1191 Fix webviews to openHAB server with untrusted certificate
  mobile/src/main/java/de/duenndns/ssl/MemorizingTrustManager.java
  mobile/src/main/java/org/openhab/habdroid/ui/AnchorWebViewClient.java
  mobile/src/main/res/values/strings.xml
Labels: bug

#1206 Revert "Bump okhttp from 3.12.1 to 3.13.1"
  mobile/build.gradle
Labels: bug, dependencies

#1208 Use primitive types if possible
  mobile/src/main/java/org/openhab/habdroid/util/AsyncHttpClient.java
Labels: code enhancement

#1201 Fix possible NPE
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.java
Labels: bug

#1167 Show shortcut to notification settings for Oreo and above
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.java
  mobile/src/main/java/org/openhab/habdroid/util/Constants.java
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
Labels: enhancement

#1214 Fix selection of HABPanel panel
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
Labels: bug

#1196 Add FAQ chapter to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#1220 Fix NPE in colorpicker
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.java
Labels: bug
