Repository openhab/openhab-android, pull requests merged in 2019-08, with the labels that each got.

#1460 Fix crash when parsing SVG
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
Labels: bug

#1462 Fix crash in FCM registration
  mobile/src/full/java/org/openhab/habdroid/core/FcmRegistrationService.kt
Labels: bug

#1461 Fix host formatting in prefs
  mobile/src/androidTest/java/org/openhab/habdroid/ui/PreferencesActivityTest.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
Labels: bug

#1454 Make sure that intro is shown again if app is stopped
  mobile/src/main/java/org/openhab/habdroid/core/OnUpdateBroadcastReceiver.kt
  mobile/src/main/java/org/openhab/habdroid/ui/IntroActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: bug

#1467 Show MapView dialog in fullscreen
  mobile/src/foss/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/full/java/org/openhab/habdroid/ui/MapViewHelper.kt
Labels: bug

#1469 Use format specifier also when updating non-UoM items.
  mobile/src/main/java/org/openhab/habdroid/model/ParsedState.kt
Labels: bug

#1476 Correctly disable 'ok' button if alarm item is empty
  mobile/src/main/java/org/openhab/habdroid/ui/preference/ItemUpdatingPreference.kt
Labels: bug

#1484 Use positional formatting for strings with more than one substitution
  mobile/src/main/res/values/strings.xml
Labels: code enhancement

#1483 Use gradle variables for lib versions if two or more have the same version
  mobile/build.gradle
Labels: code enhancement

#1449 Add lock screen
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractBaseActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/Constants.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
  mobile/src/main/res/drawable/ic_lock_outline_grey_24dp.xml
  mobile/src/main/res/values/arrays.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
Labels: enhancement

#1477 Support autofill for username and password prefs
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/CustomInputTypePreference.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/UrlInputPreference.kt
  mobile/src/main/res/menu/item_picker.xml
  mobile/src/main/res/xml/local_connection_preferences.xml
  mobile/src/main/res/xml/remote_connection_preferences.xml
Labels: enhancement

#1489 Fix build
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: code enhancement

#1490 Update to Android Studio 3.5
  .idea/codeStyles/Project.xml
  .idea/dictionaries/openhab.xml
  .idea/misc.xml
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: code enhancement

#1486 Fix build warnings
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/model/ParsedState.kt
  mobile/src/main/java/org/openhab/habdroid/model/Sitemap.kt
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractBaseActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/test/java/org/openhab/habdroid/model/SitemapTest.kt
Labels: code enhancement

#1458 Use settings panel to enable wifi on Android Q
  .idea/misc.xml
  mobile/build.gradle
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/WebViewFragment.kt
Labels: code enhancement

#1494 Remove Screengrab
  fastlane/Screengrabfile
  mobile/build.gradle
  mobile/src/androidTest/java/org/openhab/habdroid/screengrab/ScreengrabTest.kt
  travis/start-emulator.sh
Labels: code enhancement

#1465 Improve long press menu
  mobile/src/androidTest/java/org/openhab/habdroid/ui/NfcTest.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/widget/ContextMenuAwareRecyclerView.kt
  mobile/src/main/java/org/openhab/habdroid/util/SuggestedCommandsFactory.kt
  mobile/src/main/java/org/openhab/habdroid/util/Util.kt
  mobile/src/main/res/layout/fragment_widgetlist.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement
