Repository openhab/openhab-android, pull requests merged in 2019-01, with the labels that each got.

#1164 Bump powermock-* to 2.0.0
  mobile/build.gradle
Labels: dependencies

#1124 Display HABPanel
  mobile/src/main/java/org/openhab/habdroid/model/ServerProperties.java
  mobile/src/main/java/org/openhab/habdroid/ui/AnchorWebViewClient.java
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
  mobile/src/main/res/drawable/ic_view_module_black_24dp.xml
  mobile/src/main/res/layout/fragment_habpanel.xml
  mobile/src/main/res/menu/left_drawer.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1175 Fix segmented control button
  mobile/src/main/java/org/openhab/habdroid/ui/widget/SegmentedControlButton.java
  mobile/src/main/res/layout/widgetlist_sectionswitchitem_button.xml
  mobile/src/main/res/values/attrs.xml
  mobile/src/main/res/values/segcontrol_styles.xml
  mobile/src/main/res/values/styles.xml
  mobile/src/main/res/values/themes.xml
Labels: bug

#1181 Reload widgets when encountering events for unknown ones.
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.java
Labels: bug

#1146 Fix Units-of-Measurement (UoM) handling
  mobile/src/full/java/org/openhab/habdroid/ui/MapViewHelper.java
  mobile/src/main/java/org/openhab/habdroid/model/Item.java
  mobile/src/main/java/org/openhab/habdroid/model/ParsedState.java
  mobile/src/main/java/org/openhab/habdroid/model/Widget.java
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.java
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
  mobile/src/test/java/org/openhab/habdroid/model/ItemTest.java
Labels: bug

#1172 Improve HABPanel viewer
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
  mobile/src/main/res/layout/fragment_fullscreenwebview.xml
Labels: bug
