Repository openhab/openhab-android, pull requests merged in 2019-04, with the labels that each got.

#1052 Add up/down buttons to setpoint widgets
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.java
  mobile/src/main/res/layout/widgetlist_setpointitem.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1283 Support writing NFC tags of Setpoint and Slider
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.java
Labels: enhancement

#1300 Migrate WorkManager to AndroidX
  mobile/build.gradle
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.java
Labels: dependencies

#1292 Report error during load of sitemap back to user
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.java
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
  mobile/src/main/res/values/strings.xml
Labels: bug

#1284 Fix ActivityNotFoundException in About
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.java
  mobile/src/main/res/values/strings.xml
Labels: bug

#1303 Remove useless function overridePendingTransition()
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/WriteTagActivity.java
  mobile/src/main/java/org/openhab/habdroid/util/Constants.java
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
Labels: code enhancement

#1307 Bump Gradle
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies

#1291 Fix IllegalStateException in PreferencesActivity
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.java
Labels: bug

#1285 Create "row click" shortcuts for a few widgets
  mobile/src/main/java/org/openhab/habdroid/model/Widget.java
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.java
Labels: enhancement

#1311 Improve MissingConfigurationFragment
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
  mobile/src/main/res/drawable/ic_network_strength_off_outline_black_24dp.xml
  mobile/src/main/res/drawable/ic_signal_cellular_off_black_24dp.xml
  mobile/src/main/res/layout/fragment_status.xml
Labels: enhancement

#1316 Add failure reason to FCM status
  mobile/src/foss/java/org/openhab/habdroid/core/CloudMessagingHelper.java
  mobile/src/full/java/org/openhab/habdroid/core/CloudMessagingHelper.java
  mobile/src/full/res/values/strings.xml
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.java
Labels: enhancement

#1313 Remove unused Handler in PreferencesActivity
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.java
Labels: code enhancement

#1330 Relax per-host connection limit.
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.java
Labels: bug

#1324 Improve UX if no speech to text app is installed
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/VoiceWidget.java
  mobile/src/main/res/values/strings.xml
Labels: bug, enhancement
