Repository openhab/openhab-android, pull requests merged in 2019-09, with the labels that each got.

#1499 Optimize docs images
  assets/direct-apk-download.png
  docs/images/en_badge_web_generic.png
  docs/images/get-it-on-fdroid.png
  docs/images/main-menu.png
  docs/images/maps.png
  docs/images/widget-overview.png
Labels: documentation

#1498 Remove excessive new line from docs
  docs/USAGE.md
Labels: documentation

#1464 Implement widgets
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/background/NfcReceiveActivity.kt
  mobile/src/main/java/org/openhab/habdroid/model/Widget.kt
  mobile/src/main/java/org/openhab/habdroid/model/WidgetDataSource.kt
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemPickerAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemUpdateWidgetItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/TaskerItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/ItemUpdateWidget.kt
  mobile/src/main/java/org/openhab/habdroid/util/CacheManager.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
  mobile/src/main/java/org/openhab/habdroid/util/SuggestedCommandsFactory.kt
  mobile/src/main/res/drawable/list_arrow_activated.9.png
  mobile/src/main/res/drawable/voice_widget_preview.png
  mobile/src/main/res/drawable/voice_widget_preview_with_icon.png
  mobile/src/main/res/drawable/widget_preview_item_update.webp
  mobile/src/main/res/drawable/widget_preview_voice.webp
  mobile/src/main/res/drawable/widget_preview_voice_with_icon.webp
  mobile/src/main/res/layout/widget_item_update.xml
  mobile/src/main/res/layout/widget_item_update_small.xml
  mobile/src/main/res/values/dimens.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/item_update_widget.xml
  mobile/src/main/res/xml/voice_widget_info.xml
  mobile/src/main/res/xml/voice_widget_with_icon_info.xml
  mobile/src/test/java/org/openhab/habdroid/model/WidgetTest.kt
Labels: enhancement

#1502 Fix handling of frames without label.
  mobile/src/androidTest/java/org/openhab/habdroid/ui/BasicWidgetTest.kt
  mobile/src/androidTest/java/org/openhab/habdroid/ui/NfcTest.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.kt
Labels: bug

#1505 Delete debug AndroidManifest
  mobile/src/debug/AndroidManifest.xml
Labels: code enhancement

#1504 Offer opening MapViews in Browser or native Maps app
  mobile/src/foss/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/foss/res/values/strings.xml
  mobile/src/full/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/full/res/values/strings.xml
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
Labels: enhancement

#1496 Fix build warnings
  mobile/src/foss/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/AbstractConnection.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionManagerHelper.kt
  mobile/src/main/java/org/openhab/habdroid/model/CloudNotification.kt
  mobile/src/main/java/org/openhab/habdroid/model/Item.kt
  mobile/src/main/java/org/openhab/habdroid/model/LinkedPage.kt
  mobile/src/main/java/org/openhab/habdroid/model/ParsedState.kt
  mobile/src/main/java/org/openhab/habdroid/model/Sitemap.kt
  mobile/src/main/java/org/openhab/habdroid/model/Widget.kt
  mobile/src/main/java/org/openhab/habdroid/model/WidgetDataSource.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WriteTagActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
Labels: code enhancement

#1495 Improve UrlInputPreference
  mobile/src/main/java/org/openhab/habdroid/ui/preference/UrlInputPreference.kt
  mobile/src/main/res/xml/local_connection_preferences.xml
  mobile/src/main/res/xml/remote_connection_preferences.xml
Labels: enhancement

#1503 Use new androidx.media2 video playback library
  mobile/build.gradle
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionManagerHelper.kt
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractBaseActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WriteTagActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/widget/AutoHeightVideoView.kt
  mobile/src/main/res/layout/widgetlist_videoitem.xml
Labels: enhancement

#1500 Improve LogActivity
  mobile/src/main/java/org/openhab/habdroid/ui/LogActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/util/Util.kt
  mobile/src/main/res/drawable/ic_error_outline_white_24dp.xml
  mobile/src/main/res/drawable/ic_error_white_24dp.xml
  mobile/src/main/res/drawable/ic_refresh_white_24dp.xml
  mobile/src/main/res/layout/activity_log.xml
  mobile/src/main/res/menu/log_menu.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1501 Show Toast if FCM registration fails
  mobile/src/full/java/org/openhab/habdroid/core/FcmRegistrationService.kt
  mobile/src/full/res/values/strings.xml
  mobile/src/main/java/org/openhab/habdroid/core/VoiceService.kt
  mobile/src/main/java/org/openhab/habdroid/util/Util.kt
Labels: enhancement

#1528 Replace deprecated FragmentManager function
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WriteTagActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentControllerOnePane.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentControllerTwoPane.kt
Labels: code enhancement

#1522 Close context menu if connection is lost
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
Labels: bug

#1510 Fix Kotlin warnings in test cases
  mobile/build.gradle
  mobile/src/androidTest/java/org/openhab/habdroid/TestWithIntro.kt
  mobile/src/androidTest/java/org/openhab/habdroid/TestWithoutIntro.kt
  mobile/src/androidTest/java/org/openhab/habdroid/ui/BasicWidgetTest.kt
  mobile/src/androidTest/java/org/openhab/habdroid/ui/IntroActivityTest.kt
  mobile/src/androidTest/java/org/openhab/habdroid/ui/NfcTest.kt
  mobile/src/androidTest/java/org/openhab/habdroid/ui/VoiceRecognitionTest.kt
  mobile/src/androidTest/java/org/openhab/habdroid/ui/WidgetAdapterTest.kt
  mobile/src/test/java/org/openhab/habdroid/core/CloudMessagingHelper.kt
  mobile/src/test/java/org/openhab/habdroid/core/connection/ConnectionFactoryTest.kt
  mobile/src/test/java/org/openhab/habdroid/core/connection/DefaultConnectionTest.kt
  mobile/src/test/java/org/openhab/habdroid/core/connection/DemoConnectionTest.kt
  mobile/src/test/java/org/openhab/habdroid/model/WidgetTest.kt
  mobile/src/test/java/org/openhab/habdroid/util/UtilTest.kt
Labels: code enhancement

#1531 Clean up layout files
  mobile/src/foss/res/layout/openhabwidgetlist_mapitem.xml
  mobile/src/full/res/layout/openhabwidgetlist_mapitem.xml
  mobile/src/main/res/layout-land/color_picker_dialog.xml
  mobile/src/main/res/layout/activity_about.xml
  mobile/src/main/res/layout/activity_log.xml
  mobile/src/main/res/layout/activity_main.xml
  mobile/src/main/res/layout/activity_prefs.xml
  mobile/src/main/res/layout/activity_writetag.xml
  mobile/src/main/res/layout/chart_scaling_pref.xml
  mobile/src/main/res/layout/color_picker_dialog.xml
  mobile/src/main/res/layout/content_twopane.xml
  mobile/src/main/res/layout/dialog_numberpicker.xml
  mobile/src/main/res/layout/fragment_notificationlist.xml
  mobile/src/main/res/layout/fragment_status.xml
  mobile/src/main/res/layout/fragment_webview.xml
  mobile/src/main/res/layout/fragment_widgetlist.xml
  mobile/src/main/res/layout/fragment_writenfc.xml
  mobile/src/main/res/layout/help_icon_pref.xml
  mobile/src/main/res/layout/item_updating_pref_dialog.xml
  mobile/src/main/res/layout/itempickerlist_item.xml
  mobile/src/main/res/layout/notificationlist_item.xml
  mobile/src/main/res/layout/notificationlist_loading_item.xml
  mobile/src/main/res/layout/select_dialog_singlechoice.xml
  mobile/src/main/res/layout/widget_item_update.xml
  mobile/src/main/res/layout/widget_item_update_small.xml
  mobile/src/main/res/layout/widget_voice.xml
  mobile/src/main/res/layout/widget_voice_with_icon.xml
  mobile/src/main/res/layout/widgetlist_chartitem.xml
  mobile/src/main/res/layout/widgetlist_coloritem.xml
  mobile/src/main/res/layout/widgetlist_frameitem.xml
  mobile/src/main/res/layout/widgetlist_genericitem.xml
  mobile/src/main/res/layout/widgetlist_groupitem.xml
  mobile/src/main/res/layout/widgetlist_iconsmallvaluetext.xml
  mobile/src/main/res/layout/widgetlist_iconvaluetext.xml
  mobile/src/main/res/layout/widgetlist_imageitem.xml
  mobile/src/main/res/layout/widgetlist_invisibleitem.xml
  mobile/src/main/res/layout/widgetlist_rollershutteritem.xml
  mobile/src/main/res/layout/widgetlist_sectionswitchitem.xml
  mobile/src/main/res/layout/widgetlist_sectionswitchitem_button.xml
  mobile/src/main/res/layout/widgetlist_selectionitem.xml
  mobile/src/main/res/layout/widgetlist_setpointitem.xml
  mobile/src/main/res/layout/widgetlist_slideritem.xml
  mobile/src/main/res/layout/widgetlist_switchitem.xml
  mobile/src/main/res/layout/widgetlist_textitem.xml
  mobile/src/main/res/layout/widgetlist_videoitem.xml
  mobile/src/main/res/layout/widgetlist_videomjpegitem.xml
  mobile/src/main/res/layout/widgetlist_webitem.xml
  mobile/src/main/res/values/dimens.xml
  mobile/src/main/res/values/styles.xml
Labels: code enhancement

#1516 Use Settings Panel to enable NFC in WriteTagActivity
  mobile/src/main/java/org/openhab/habdroid/ui/WriteTagActivity.kt
Labels: enhancement

#1533 Call super func where needed
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WriteTagActivity.kt
Labels: code enhancement

#1534 Fix ktlint issues automatically
  .stickler.yml
Labels: automation

#1536 Add Play Store Beta changelog
  assets/store_descriptions/en-US/strings.xml
Labels: localization

#1542 Center WriteTagActivity hints
  mobile/src/main/res/layout/fragment_writenfc.xml
  mobile/src/main/res/values/strings.xml
Labels: bug

#1515 Send call state to server
  docs/USAGE.md
  mobile/src/full/java/org/openhab/habdroid/core/FcmRegistrationService.kt
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/java/org/openhab/habdroid/core/VoiceService.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/ItemUpdatingPreference.kt
  mobile/src/main/java/org/openhab/habdroid/util/Constants.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/java/org/openhab/habdroid/util/Util.kt
  mobile/src/main/res/drawable/ic_phone_off_outline_grey_24dp.xml
  mobile/src/main/res/drawable/ic_phone_outline_grey_24dp.xml
  mobile/src/main/res/values/attrs.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
Labels: enhancement

#1543 Fix crash if no ssl client certificate chooser is present
  mobile/src/main/java/org/openhab/habdroid/ui/preference/SslClientCertificatePreference.kt
  mobile/src/main/res/values/strings.xml
Labels: bug

#1526 Enable backups and encrypt username and password
  mobile/build.gradle
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/core/UpdateBroadcastReceiver.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.kt
  mobile/src/main/java/org/openhab/habdroid/ui/IntroActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/CustomInputTypePreference.kt
  mobile/src/main/java/org/openhab/habdroid/util/Constants.kt
  mobile/src/main/java/org/openhab/habdroid/util/CustomBackupAgent.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/backup_rules.xml
Labels: enhancement

#1553 Advanced example of AlarmClock rule usage
  docs/USAGE.md
Labels: documentation

#1551 Ignore alarm clocks set by Tasker
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
Labels: enhancement

#1552 Explain how to speed up chart rendering
  docs/USAGE.md
Labels: documentation

#1557 Prune work when disabling item update pref
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
Labels: bug

#1555 Hide version and icon in used libs
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.kt
Labels: enhancement

#1564 Update OkHttp to latest version.
  mobile/build.gradle
Labels: dependencies
