Repository openhab/openhab-android, pull requests merged in 2019-07, with the labels that each got.

#1424 Fix typos
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/dictionaries/openhab.xml
  .idea/misc.xml
  .idea/workspace.xml
  mobile/src/androidTest/java/org/openhab/habdroid/TestWithIntro.kt
  mobile/src/androidTest/java/org/openhab/habdroid/TestWithoutIntro.kt
  mobile/src/androidTest/java/org/openhab/habdroid/ui/BasicWidgetTest.kt
  mobile/src/androidTest/java/org/openhab/habdroid/ui/IntroActivityTest.kt
  mobile/src/androidTest/java/org/openhab/habdroid/ui/VoiceRecognitionTest.kt
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/java/org/openhab/habdroid/core/OnUpdateBroadcastReceiver.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/Connection.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.kt
  mobile/src/main/java/org/openhab/habdroid/model/Sitemap.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WriteTagActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/WebViewFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/widget/WidgetImageView.kt
  mobile/src/main/java/org/openhab/habdroid/util/AsyncServiceResolver.kt
  mobile/src/main/java/org/openhab/habdroid/util/Constants.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/java/org/openhab/habdroid/util/MjpegInputStream.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
  mobile/src/main/res/layout/activity_item_picker.xml
  mobile/src/main/res/layout/activity_writetag.xml
  mobile/src/main/res/layout/dialog_numberpicker.xml
  mobile/src/main/res/layout/fragment_fullscreenwebview.xml
  mobile/src/main/res/layout/fragment_notificationlist.xml
  mobile/src/main/res/layout/widgetlist_sectionswitchitem.xml
  mobile/src/main/res/layout/widgetlist_videomjpegitem.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/test/java/org/openhab/habdroid/model/WidgetTest.kt
Labels: code enhancement

#1420 Require pressing back twice to exit app in fullscreen
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1434 Fix IllegalStateException.
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionManagerHelper.kt
Labels: bug

#1435 Fix typo in content controller instance state key.
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
Labels: bug

#1438 Catch IOException when attempting FCM registration.
  mobile/src/full/java/org/openhab/habdroid/core/FcmRegistrationService.kt
Labels: bug

#1373 Add voice command rule to docs
  docs/USAGE.md
Labels: documentation

#1403 Add ability to pin HABPanel shortcut to home
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/WebViewFragment.kt
  mobile/src/main/res/layout/fragment_webview.xml
  mobile/src/main/res/menu/main_menu.xml
  mobile/src/main/res/menu/webview_menu.xml
Labels: enhancement

#1433 Fix nullability of KeyManager callbacks.
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.kt
Labels: bug

#1440 Fix widget visibility tracking algorithm
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.kt
Labels: bug

#1436 Defer sitemap selection until onStart() and refactor pending action handling
  mobile/src/main/java/org/openhab/habdroid/model/ServerProperties.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
Labels: bug

#1445 Help Kotlin compiler in detecting tail recursion.
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
Labels: code enhancement

#1448 Fix lint issues in PreferencesActivity
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
Labels: code enhancement

#1447 Catch NPE in OSM library
  mobile/src/foss/java/org/openhab/habdroid/ui/MapViewHelper.kt
Labels: bug

#1390 Fix Setpoint widget
  mobile/src/main/java/org/openhab/habdroid/model/ParsedState.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/util/SuggestedCommandsFactory.kt
Labels: bug

#1456 Close HABPanel if sitemap shortcut is used
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
Labels: bug
