Repository openhab/openhab-android, pull requests merged in 2019-10, with the labels that each got.

#1545 Add NFC info and item select activity
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemUpdateWidgetItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/NfcInfoActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/TaskerItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WriteTagActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/Constants.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
  mobile/src/main/res/drawable/ic_nfc_black_120dp.xml
  mobile/src/main/res/drawable/ic_nfc_black_24dp.xml
  mobile/src/main/res/menu/left_drawer.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1571 Hide NFC drawer entry if no connection
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: bug

#1570 Show loading indicator in home screen widgets after reboot
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/ItemUpdateWidget.kt
  mobile/src/main/res/layout/widget_item_update.xml
  mobile/src/main/res/layout/widget_item_update_small.xml
Labels: enhancement

#1568 Correctly initialize editor prefs with custom data store.
  mobile/src/main/java/org/openhab/habdroid/ui/preference/CustomInputTypePreference.kt
Labels: bug

#1573 Mention ktlint in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#1575 Bump gradle wrapper
  .idea/codeStyles/Project.xml
  .idea/encodings.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies

#1559 Fix crash if image couldn't be rendered
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/widget/WidgetImageView.kt
Labels: bug

#1585 Implement TOGGLE command client-side only.
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
Labels: enhancement

#1592 Item picker: Close search view on back press
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemPickerAdapter.kt
Labels: enhancement

#1596 Fix migration to DayNight themes
  mobile/src/main/java/org/openhab/habdroid/core/UpdateBroadcastReceiver.kt
Labels: bug

#1593 Reschedule item uploads if prefix changes
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
Labels: enhancement

#1588 Show label in background tasks error notifications
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/java/org/openhab/habdroid/ui/TaskerItemPickerActivity.kt
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1589 Show prefix in summary
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
Labels: enhancement

#1598 Use MaterialButtonToggleGroup for segmented switch.
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/widget/SegmentedControlButton.kt
  mobile/src/main/res/color/sectionswitch_bg.xml
  mobile/src/main/res/color/sectionswitch_text.xml
  mobile/src/main/res/layout/widgetlist_sectionswitchitem.xml
  mobile/src/main/res/layout/widgetlist_sectionswitchitem_button.xml
  mobile/src/main/res/values/attrs.xml
  mobile/src/main/res/values/styles.xml
Labels: code enhancement

#1604 Fix IndexOutOfBoundsException with section switch
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
Labels: bug

#1609 Restore "errors only" state after device rotation
  mobile/src/main/java/org/openhab/habdroid/ui/LogActivity.kt
Labels: bug

#1582 Beautify success messages
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1610 Fix lock screen crash in WriteTagActivity
  mobile/src/main/java/org/openhab/habdroid/ui/WriteTagActivity.kt
  mobile/src/main/res/layout/activity_writetag.xml
Labels: bug

#1606 Beautify section switch.
  mobile/src/main/res/layout/widgetlist_sectionswitchitem_button.xml
  mobile/src/main/res/values/themes.xml
Labels: bug

#1616 Ignore "com.android.providers.calendar" for alarm clock
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
Labels: bug

#1646 Catch SecurityException if ringtone is on external storage
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/res/values/strings.xml
Labels: bug

#1645 Bump "androidx.recyclerview:recyclerview"
  mobile/build.gradle
Labels: bug, dependencies

#1632 Grey dark theme: Increase contrast between buttons and background
  mobile/src/main/res/values-night/colors.xml
  mobile/src/main/res/values/colors.xml
  mobile/src/main/res/values/themes.xml
Labels: enhancement

#1643 Work around appcompat forcing font scale to 1.0
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: bug

#1648 Disabled http protocol for remote URL
  mobile/src/main/java/org/openhab/habdroid/ui/preference/UrlInputPreference.kt
  mobile/src/main/res/values/attrs.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/local_connection_preferences.xml
  mobile/src/main/res/xml/remote_connection_preferences.xml
Labels: enhancement
