Repository openhab/openhab-android, pull requests merged in 2019-05, with the labels that each got.

#1336 Update screenshots in docs
  docs/USAGE.md
  docs/images/main-menu.png
  docs/images/maps.png
  docs/images/widget-overview.png
Labels: documentation

#1317 Fetch about screen information async
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.java
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1340 Use screenshots from docs in Readme
  README.md
Labels: documentation

#1325 Fix PreferencesActivity crash on API < 17
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.java
Labels: bug

#1339 Disable Stickler failure if JavaDoc is missing
  stickler/checkstyle.xml
Labels: automation

#1345 Improve location parsing
  mobile/src/full/java/org/openhab/habdroid/ui/MapViewHelper.java
  mobile/src/main/java/org/openhab/habdroid/model/ParsedState.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.java
Labels: bug

#1331 Implement row click action for section switch
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.java
Labels: enhancement

#1354 Reduce verbosity when starting app
  mobile/build.gradle
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
Labels: code enhancement

#1302 Improve NFC item updates
  mobile/src/androidTest/java/org/openhab/habdroid/ui/NfcTest.java
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.java
  mobile/src/main/java/org/openhab/habdroid/background/NfcReceiveActivity.java
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.java
  mobile/src/main/java/org/openhab/habdroid/core/VoiceService.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.java
  mobile/src/main/java/org/openhab/habdroid/model/Item.java
  mobile/src/main/java/org/openhab/habdroid/model/NfcTag.java
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/WriteTagActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/RecyclerViewSwipeRefreshLayout.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/SegmentedControlButton.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/UrlInputPreference.java
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1361 Fix crash in SectionSwitchViewHolder#handleRowClick()
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.java
Labels: bug

#1357 Add ability to create sitemap shortcuts
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/model/LinkedPage.java
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
  mobile/src/main/java/org/openhab/habdroid/util/AsyncHttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/SyncHttpClient.java
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1364 Use Util.convertDpToPixel() in OsmViewHolder
  mobile/src/foss/java/org/openhab/habdroid/ui/MapViewHelper.java
Labels: code enhancement

#1335 Add notification troubleshooting section to docs
  docs/USAGE.md
Labels: documentation

#1352 Fix crash in svg parsing
  mobile/build.gradle
Labels: bug

#1383 Parse missing fields from SSE update events.
  mobile/src/main/java/org/openhab/habdroid/model/Widget.java
Labels: bug
