Repository openhab/openhab-android, pull requests merged in 2019-03, with the labels that each got.

#1227 Don't play notification sound for summary notification.
  mobile/src/full/java/org/openhab/habdroid/core/GcmMessageListenerService.java
Labels: bug

#1231 Add authentication header to SSE events
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.java
Labels: bug

#1215 Enable twopane mode for portrait
  mobile/src/main/res/values-w600dp-land/layout.xml
  mobile/src/main/res/values-w750dp/layout.xml
Labels: enhancement

#1235 Catch more exceptions in ParsedState
  mobile/src/main/java/org/openhab/habdroid/model/ParsedState.java
Labels: Priority: High, bug

#1238 Keep authentication header an implementation detail of HttpClient.
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.java
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.java
Labels: code enhancement

#1239 Add Play Store Beta link
  README.md
Labels: documentation

#1241 F-Droid description/Readme: GCM => FCM
  README.md
  assets/store_descriptions/en-US/strings.xml
Labels: documentation

#1245 Clean up public methods needed for SSE in HttpClient.
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.java
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.java
Labels: code enhancement

#1232 Wait up to 2 seconds for connection to become available
  mobile/src/main/java/org/openhab/habdroid/core/connection/AbstractConnection.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.java
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.java
Labels: bug

#1254 Fix HABPanel HTTP Error 401
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.java
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.java
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
Labels: bug

#1251 Fix NPE in LogActivity
  mobile/src/main/java/org/openhab/habdroid/ui/LogActivity.java
Labels: bug

#1258 Add "Turn off" action to demo mode snackbar
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.java
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1262 Rename HabDroidApplication.java to OpenHabApplication.java
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/core/OpenHabApplication.java
Labels: code enhancement

#1137 Send alarm clock to openHAB
  docs/USAGE.md
  mobile/build.gradle
  mobile/src/full/java/org/openhab/habdroid/core/FcmMessageListenerService.java
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.java
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.java
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.java
  mobile/src/main/java/org/openhab/habdroid/core/OpenHabApplication.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.java
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/HelpIconShowingPreferenceUtil.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/ItemUpdatingPreference.java
  mobile/src/main/java/org/openhab/habdroid/ui/widget/SslClientCertificatePreference.java
  mobile/src/main/java/org/openhab/habdroid/util/Constants.java
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
  mobile/src/main/res/drawable/ic_alarm_grey_24dp.xml
  mobile/src/main/res/drawable/ic_alarm_off_grey_24dp.xml
  mobile/src/main/res/drawable/ic_openhab_appicon_white_24dp.xml
  mobile/src/main/res/drawable/ic_refresh_grey_24dp.xml
  mobile/src/main/res/drawable/ic_text_fields_gray_24dp.xml
  mobile/src/main/res/layout/help_icon_pref.xml
  mobile/src/main/res/layout/item_updating_pref_dialog.xml
  mobile/src/main/res/values/attrs.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
Labels: enhancement

#1259 Change slider size according to screen size
  mobile/src/main/res/layout/widgetlist_slideritem.xml
  mobile/src/main/res/values-w600dp/dimens.xml
  mobile/src/main/res/values-w750dp/dimens.xml
  mobile/src/main/res/values/dimens.xml
Labels: enhancement

#1269 Improve number handling
  mobile/src/main/java/org/openhab/habdroid/model/ParsedState.java
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.java
Labels: bug

#1276 Assign correct colors to swipe refresh layouts
  mobile/src/main/java/org/openhab/habdroid/util/Util.java
Labels: bug

#1277 Fix NPE in color picker
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.java
Labels: bug

#1278 Fix NPE in MapView
  mobile/src/full/java/org/openhab/habdroid/ui/MapViewHelper.java
Labels: bug

#1279 Fix NPE im WidgetListFragment
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.java
Labels: bug
