Repository openhab/openhab-android, pull requests merged in 2020-04, with the labels that each got.

#1932 Remove emulator tests from travis
  .travis.yml
  CONTRIBUTING.md
  travis/start-emulator.sh
  travis/test.sh
Labels: automation

#1925 Fix typo in issue template
  .github/ISSUE_TEMPLATE/bug-report.md
Labels: bug

#1923 Don't show state in color picker title
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
Labels: bug

#1895 Theme navigation bar like background
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractBaseActivity.kt
Labels: enhancement

#1940 Fix issue when refreshing item picker
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractItemPickerActivity.kt
Labels: bug

#1935 Hint for debugging data saver
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
Labels: code enhancement

#1931 Fix NPE in isAutomationAppInstalled()
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
Labels: bug

#1924 Close drawer on back press
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: bug

#1907 Handle video player errors
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/res/layout/widgetlist_videoitem.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1930 New icon for server discovery
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
  mobile/src/main/res/drawable/ic_home_search_outline_grey_340dp.xml
Labels: enhancement

#1944 Update list selector
  mobile/src/main/res/drawable/list_arrow_activated.9.png
  mobile/src/main/res/drawable/list_arrow_activated_tinted.xml
  mobile/src/main/res/drawable/list_selector.xml
  mobile/src/main/res/values/attrs.xml
  mobile/src/main/res/values/themes.xml
Labels: enhancement

#1957 Remove unneeded checks for api 21
  mobile/src/main/java/org/openhab/habdroid/background/NfcReceiveActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractBaseActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemUpdateWidgetItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/WebViewFragment.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
Labels: code enhancement

#1928 Update USAGE.md
  docs/USAGE.md
Labels: documentation

#1946 Only show state in label where explicitly wanted
  mobile/src/main/java/org/openhab/habdroid/model/Widget.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ChartActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/test/java/org/openhab/habdroid/model/WidgetTest.kt
Labels: bug, code enhancement

#1945 Add amoled/black theme
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
  mobile/src/main/java/org/openhab/habdroid/util/Util.kt
  mobile/src/main/res/values-v29/arrays.xml
  mobile/src/main/res/values/arrays.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/values/themes.xml
Labels: enhancement

#1943 Define gravity of loading indicator in xml
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/res/layout/activity_main.xml
Labels: code enhancement

#1955 Don't use our own function for hiding prefs
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefKeys.kt
Labels: code enhancement

#1919 Run periodic work on application start
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: enhancement

#1966 Fix updating label or value colors from SSE events.
  mobile/src/main/java/org/openhab/habdroid/model/Widget.kt
Labels: bug

#1950 Improve text readability in dialogs
  mobile/src/main/res/values/styles.xml
  mobile/src/main/res/values/themes.xml
Labels: bug, enhancement

#1970 Alarm clock: Send UNDEF if no alarm is set
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
Labels: bug

#1979 Fix WebView height when set to WRAP_CONTENT
  mobile/src/main/res/layout/widgetlist_webitem.xml
Labels: bug

#1927 Move device information prefs to subpage
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/ItemUpdatingPreference.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefKeys.kt
  mobile/src/main/res/drawable/ic_cloud_upload_outline_grey_24dp.xml
  mobile/src/main/res/values-v29/arrays.xml
  mobile/src/main/res/values/arrays.xml
  mobile/src/main/res/values/attrs.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
  mobile/src/main/res/xml/preferences_device_information.xml
Labels: enhancement
