Repository openhab/openhab-android, pull requests merged in 2020-10, with the labels that each got.

#2232 Only show confirm leave dialog if the config was changed
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
Labels: bug

#2242 Remove unused strings
  mobile/src/main/res/values/strings.xml
Labels: code enhancement

#2192 Tiles: Display status in subtitle
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/background/tiles/AbstractTileService.kt
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#2251 Hide shortcut action if pinning shortcuts is unsupported
  mobile/src/main/java/org/openhab/habdroid/ui/activity/WebViewFragment.kt
Labels: bug

#2237 Add confirm leave dialog to tiles prefs
  mobile/src/main/java/org/openhab/habdroid/background/tiles/AbstractTileService.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
Labels: enhancement

#2253 Optimize imports
  mobile/src/foss/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/full/java/org/openhab/habdroid/core/CloudMessagingHelper.kt
  mobile/src/full/java/org/openhab/habdroid/core/FcmRegistrationService.kt
  mobile/src/full/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/main/java/de/duenndns/ssl/MemorizingActivity.java
  mobile/src/main/java/org/openhab/habdroid/core/connection/AbstractConnection.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/DefaultConnection.kt
  mobile/src/main/java/org/openhab/habdroid/model/CloudNotification.kt
  mobile/src/main/java/org/openhab/habdroid/model/IconResource.kt
  mobile/src/main/java/org/openhab/habdroid/model/ParsedState.kt
  mobile/src/main/java/org/openhab/habdroid/model/ServerProperties.kt
  mobile/src/main/java/org/openhab/habdroid/model/Widget.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ConnectionWebViewClient.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemPickerAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WriteTagActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/ItemUpdateWidget.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/UrlInputPreference.kt
  mobile/src/main/java/org/openhab/habdroid/ui/widget/WidgetImageView.kt
  mobile/src/main/java/org/openhab/habdroid/util/AsyncServiceResolver.kt
  mobile/src/main/java/org/openhab/habdroid/util/CacheManager.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.kt
  mobile/src/main/java/org/openhab/habdroid/util/MjpegStreamer.kt
  mobile/src/main/java/org/openhab/habdroid/util/Util.kt
  mobile/src/test/java/org/openhab/habdroid/core/connection/ConnectionFactoryTest.kt
  mobile/src/test/java/org/openhab/habdroid/model/WidgetTest.kt
  mobile/src/test/java/org/openhab/habdroid/util/SyncHttpClientTest.kt
  mobile/src/test/java/org/openhab/habdroid/util/UtilTest.kt
Labels: code enhancement

#2233 Add quick tiles and send dev info to intro
  mobile/src/main/java/org/openhab/habdroid/ui/IntroActivity.kt
  mobile/src/main/res/drawable/ic_microphone_outline_themed_340dp.xml
  mobile/src/main/res/drawable/ic_palette_outline_themed_340dp.xml
  mobile/src/main/res/drawable/ic_twotone_access_alarm_themed_340dp.xml
  mobile/src/main/res/drawable/ic_twotone_keyboard_voice_themed_340dp.xml
  mobile/src/main/res/drawable/ic_twotone_library_books_themed_340dp.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#2249 Start discovery in intro
  mobile/src/main/java/org/openhab/habdroid/ui/IntroActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/AsyncServiceResolver.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#2264 remove openhabianpi from docs due to active misuse of openhabianpi.com
  docs/USAGE.md
Labels: documentation

#2265 Fix slider crash
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
Labels: bug

#2243 Fix lint regarding DND mode and min sdk
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
Labels: code enhancement

#2272 Fix snackbar related crashes
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractBaseActivity.kt
Labels: bug

#2244 Display new openHAB 3 UI
  mobile/src/main/java/org/openhab/habdroid/model/ServerProperties.kt
  mobile/src/main/java/org/openhab/habdroid/model/WebViewUi.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/WebViewFragment.kt
  mobile/src/main/res/drawable/ic_outline_looks_3_black_24dp.xml
  mobile/src/main/res/drawable/ic_shortcut_oh3_ui_foreground.xml
  mobile/src/main/res/menu/left_drawer.xml
  mobile/src/main/res/mipmap-anydpi-v26/ic_shortcut_oh3_ui.xml
  mobile/src/main/res/mipmap-hdpi/ic_shortcut_oh3_ui.png
  mobile/src/main/res/mipmap-mdpi/ic_shortcut_oh3_ui.png
  mobile/src/main/res/mipmap-xhdpi/ic_shortcut_oh3_ui.png
  mobile/src/main/res/mipmap-xxhdpi/ic_shortcut_oh3_ui.png
  mobile/src/main/res/mipmap-xxxhdpi/ic_shortcut_oh3_ui.png
  mobile/src/main/res/values/strings.xml
Labels: enhancement
