Repository openhab/openhab-android, pull requests merged in 2020-01, with the labels that each got.

#1748 Remove obsolete API 21 checks
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractBaseActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/res/drawable-v21/list_selector.xml
  mobile/src/main/res/drawable/list_selector.xml
  mobile/src/main/res/values-v21/themes.xml
  mobile/src/main/res/values/themes.xml
Labels: code enhancement

#1745 Send UNDEF instead of 0 if no alarm is active
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/util/Constants.kt
Labels: bug

#1744 Improve error messages with HTTP code
  mobile/src/full/java/org/openhab/habdroid/core/CloudMessagingHelper.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/java/org/openhab/habdroid/util/Util.kt
  mobile/src/main/res/values/strings.xml
Labels: code enhancement, enhancement

#1751 Catch all exceptions thrown by androidsvg
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
Labels: bug

#1749 Show openHAB icon in all toasts
  mobile/src/full/java/org/openhab/habdroid/core/FcmRegistrationService.kt
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/core/VoiceService.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/WebViewFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/ItemUpdateWidget.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/SslClientCertificatePreference.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
Labels: code enhancement, enhancement

#1757 Add comments to strings with multiple substitutions
  mobile/src/main/res/values/strings.xml
Labels: code enhancement

#1741 Do SSL Client auth in webview using the certificate configured for the
  mobile/src/main/java/org/openhab/habdroid/ui/ConnectionWebViewClient.kt
Labels: bug

#1759 Use xliff tags for strings
  mobile/src/main/res/values/strings.xml
Labels: code enhancement, localization

#1763 Revert "Use xliff tags for strings"
  mobile/src/main/res/values/strings.xml
Labels: code enhancement, localization

#1760 Support TOGGLE for Contact items
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/model/Item.kt
  mobile/src/main/java/org/openhab/habdroid/util/SuggestedCommandsFactory.kt
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1766 Add 'clear errors' action to background error notification
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/res/drawable/ic_clear_grey_24dp.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1762 Update sitemap title in drawer if only one sitemap is returned
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: bug

#1765 Use notification channels in MTM
  mobile/src/main/java/de/duenndns/ssl/MemorizingTrustManager.java
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
Labels: bug

#1773 Update checkout action
  .github/workflows/build.yml
  .github/workflows/validate-strings.yml
Labels: automation

#1777 Fix two crashes with JmDNS
  mobile/src/main/java/org/openhab/habdroid/util/AsyncServiceResolver.kt
Labels: bug

#1776 Try to fix "IllegalStateException: You must disable foreground dispat…
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: bug

#1770 Correctly show hint if subpage contains no visible widgets
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
Labels: bug

#1775 Fix "IllegalArgumentException: Malformed \uxxxx encoding."
  mobile/src/main/java/org/openhab/habdroid/util/MjpegInputStream.kt
Labels: bug

#1731 Use anyFormat for all icons
  mobile/build.gradle
  mobile/src/full/java/org/openhab/habdroid/core/FcmMessageListenerService.kt
  mobile/src/main/java/org/openhab/habdroid/core/UpdateBroadcastReceiver.kt
  mobile/src/main/java/org/openhab/habdroid/model/CloudNotification.kt
  mobile/src/main/java/org/openhab/habdroid/model/IconResource.kt
  mobile/src/main/java/org/openhab/habdroid/model/LinkedPage.kt
  mobile/src/main/java/org/openhab/habdroid/model/Sitemap.kt
  mobile/src/main/java/org/openhab/habdroid/model/Widget.kt
  mobile/src/main/java/org/openhab/habdroid/model/WidgetDataSource.kt
  mobile/src/main/java/org/openhab/habdroid/ui/CloudNotificationAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemPickerAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemUpdateWidgetItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/ItemUpdateWidget.kt
  mobile/src/main/java/org/openhab/habdroid/util/CacheManager.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
  mobile/src/test/java/org/openhab/habdroid/model/SitemapTest.kt
  mobile/src/test/java/org/openhab/habdroid/model/WidgetTest.kt
Labels: bug

#1780 Correctly update widget list when updating widgets via SSE
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.kt
Labels: bug

#1769 Bind local connections to their respective networks
  mobile/src/main/java/org/openhab/habdroid/core/connection/AbstractConnection.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionManagerHelper.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/DefaultConnection.kt
  mobile/src/test/java/org/openhab/habdroid/core/connection/ConnectionFactoryTest.kt
Labels: bug

#1761 Fix error message for SSL errors
  mobile/src/full/java/org/openhab/habdroid/core/CloudMessagingHelper.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
Labels: bug

#1783 Bump material from 1.1.0-beta02 to 1.1-0-rc02
  mobile/build.gradle
Labels: dependencies

#1778 Log to Crashlytics
  mobile/src/foss/java/org/openhab/habdroid/util/RemoteLog.kt
  mobile/src/full/java/org/openhab/habdroid/util/RemoteLog.kt
  mobile/src/main/java/org/openhab/habdroid/core/OpenHabApplication.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
Labels: enhancement

#1756 Add ability to create shortcut with dark background
  .idea/kotlinCodeInsightSettings.xml
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
Labels: enhancement

#1790 Fix remote connectivity on API level 26+
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionManagerHelper.kt
Labels: bug

#1789 Show hint in MapView if no location is set
  mobile/src/foss/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/foss/res/layout/widgetlist_mapitem.xml
  mobile/src/full/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/full/res/layout/widgetlist_mapitem.xml
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/res/drawable/ic_location_off_grey_64dp.xml
  mobile/src/main/res/layout/widgetlist_mapitem_no_position.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1771 Close dialogs when opening a new page
  mobile/src/foss/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/full/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
Labels: bug

#1791 CI: Fail on Kotlin warning
  .github/workflows/build.yml
  mobile/build.gradle
  mobile/src/foss/java/org/openhab/habdroid/util/RemoteLog.kt
  mobile/src/test/java/org/openhab/habdroid/core/connection/ConnectionFactoryTest.kt
Labels: automation

#1794 Don't set Sitemap from demo mode as default
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
Labels: bug
