Repository openhab/openhab-android, pull requests merged in 2020-07, with the labels that each got.

#2078 Add a few more tile icons
  mobile/src/main/java/org/openhab/habdroid/background/tiles/AbstractTileService.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/res/drawable/ic_ceiling_light_black_24dp.xml
  mobile/src/main/res/drawable/ic_floor_lamp_black_24dp.xml
  mobile/src/main/res/drawable/ic_lamp_black_24dp.xml
  mobile/src/main/res/drawable/ic_outdoor_lamp_black_24dp.xml
  mobile/src/main/res/drawable/ic_sofa_black_24dp.xml
  mobile/src/main/res/values/arrays.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#2082 Add setting to make "schedule based" items "event based"
  docs/USAGE.md
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/BroadcastEventListenerService.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefKeys.kt
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences_device_information.xml
  mobile/src/test/java/org/openhab/habdroid/background/BroadcastEventListenerServiceTest.kt
Labels: documentation, enhancement

#2075 Apply app theme to intro activity
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractBaseActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/IntroActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ViewExtensions.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/res/drawable/ic_microphone_outline_themed_340dp.xml
  mobile/src/main/res/drawable/ic_nfc_themed_340dp.xml
  mobile/src/main/res/drawable/ic_palette_outline_themed_340dp.xml
  mobile/src/main/res/values/colors.xml
Labels: bug

#2083 Use WorkManager to send voice commands
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/java/org/openhab/habdroid/core/VoiceService.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/VoiceWidget.kt
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.kt
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#2090 Restore tile states and start event listener after update
  mobile/src/main/java/org/openhab/habdroid/core/UpdateBroadcastReceiver.kt
Labels: bug

#1784 Use Slider from "Material Components for Android"
  mobile/build.gradle
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/res/drawable/ic_halloween_orange_24dp.xml
  mobile/src/main/res/layout/widgetlist_slideritem.xml
  mobile/src/main/res/values/styles.xml
  mobile/src/main/res/values/themes.xml
  mobile/src/test/java/org/openhab/habdroid/util/UtilTest.kt
Labels: enhancement

#2097 Allow sending charging state to switch Items
  docs/USAGE.md
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
Labels: documentation, enhancement

#2098 Increase logging when getting charging state
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
Labels: code enhancement

#2072 Fix up SVG rendering.
  docs/USAGE.md
  mobile/src/main/java/org/openhab/habdroid/core/NotificationHelper.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ChartActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/CloudNotificationAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemPickerAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/ItemUpdateWidget.kt
  mobile/src/main/java/org/openhab/habdroid/ui/widget/WidgetImageView.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.kt
  mobile/src/main/res/layout/widgetlist_icontext.xml
  mobile/src/main/res/layout/widgetlist_imageitem.xml
  mobile/src/main/res/values/dimens.xml
Labels: bug, documentation

#2104 Fix slider crash on UNDEF items
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
Labels: bug

#2105 Queue snackbars instead of hiding the previous one
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
Labels: code enhancement

#2115 Item picker: Show snackbar if demo mode is on
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractItemPickerActivity.kt
Labels: enhancement

#2113 Scale down image used in widgets
  mobile/src/main/java/org/openhab/habdroid/ui/ViewExtensions.kt
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/ItemUpdateWidget.kt
Labels: bug

#2114 Send dev info: Show last update in pref summary
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/ItemUpdatingPreference.kt
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#2119 Fix image widget sizing issues
  mobile/src/main/java/org/openhab/habdroid/ui/widget/WidgetImageView.kt
Labels: bug

#2117 Badge shortcuts on API 24 and below
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
Labels: enhancement

#2103 Fix crash when starting event listener
  mobile/src/main/java/org/openhab/habdroid/background/BroadcastEventListenerService.kt
Labels: bug

#2123 Fix blurred outline of switches with mapping
  mobile/src/main/java/org/openhab/habdroid/ui/LogActivity.kt
  mobile/src/main/res/values-hdpi/dimens.xml
  mobile/src/main/res/values/dimens.xml
  mobile/src/main/res/values/styles.xml
  mobile/src/main/res/values/themes.xml
Labels: bug
