Repository openhab/openhab-android, pull requests merged in 2020-02, with the labels that each got.

#1799 Fix NPE in AsyncServiceResolver
  mobile/src/main/java/org/openhab/habdroid/util/AsyncServiceResolver.kt
Labels: bug

#1813 Bump material components to 1.1.0
  mobile/build.gradle
Labels: dependencies

#1781 Auto retry after connection failed
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: enhancement

#1798 Catch IllegalStateException when dispatching nfc
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: bug

#1815 Refactor connection check logic.
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionManagerHelper.kt
  mobile/src/test/java/org/openhab/habdroid/core/connection/ConnectionFactoryTest.kt
Labels: bug

#1818 Be lenient about binding sockets to a given network.
  mobile/src/main/java/org/openhab/habdroid/core/connection/AbstractConnection.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/DefaultConnection.kt
Labels: bug

#1803 Add fullscreen activity for charts
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/model/IconResource.kt
  mobile/src/main/java/org/openhab/habdroid/model/Widget.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ChartActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/LogActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/res/drawable/ic_access_time_white_24dp.xml
  mobile/src/main/res/layout/activity_about.xml
  mobile/src/main/res/layout/activity_chart.xml
  mobile/src/main/res/layout/activity_item_picker.xml
  mobile/src/main/res/layout/activity_log.xml
  mobile/src/main/res/layout/activity_main.xml
  mobile/src/main/res/layout/activity_prefs.xml
  mobile/src/main/res/layout/activity_writetag.xml
  mobile/src/main/res/menu/chart_menu.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1827 Update Gradle Wrapper to 6.2.1
  .idea/codeStyles/Project.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: dependencies

#1828 Support bluetooth tethering
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionManagerHelper.kt
Labels: enhancement

#1833 Use requireContext() instead of context!!
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
Labels: code enhancement

#1834 Add 'rate app' to about menu
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/java/org/openhab/habdroid/util/Util.kt
  mobile/src/main/res/drawable/ic_star_border_grey_24dp.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#1832 Restore webview state after rotation
  mobile/src/main/java/org/openhab/habdroid/ui/activity/WebViewFragment.kt
Labels: bug

#1830 Preserve authentication information over HTTP redirects.
  mobile/src/main/java/org/openhab/habdroid/util/HttpClient.kt
Labels: bug
