Repository openhab/openhab-android, pull requests merged in 2020-09, with the labels that each got.

#2164 Add long press behavior for color widgets
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/widget/PeriodicSignalImageButton.kt
  mobile/src/main/res/layout/widgetlist_coloritem.xml
Labels: enhancement

#2182 Upgrade to the Firebase Crashlytics SDK
  mobile/build.gradle
  mobile/google-services.json
  mobile/src/foss/java/org/openhab/habdroid/util/RemoteLog.kt
  mobile/src/full/AndroidManifest.xml
  mobile/src/full/java/org/openhab/habdroid/util/RemoteLog.kt
  mobile/src/main/java/org/openhab/habdroid/core/OpenHabApplication.kt
Labels: code enhancement

#2157 Fix divider not showing when there're invible widgets
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
Labels: bug

#2197 Show only successful work infos in item update pref summary
  mobile/src/main/java/org/openhab/habdroid/ui/preference/ItemUpdatingPreference.kt
Labels: bug

#2196 Hide all connection related snackbars on connection change
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: bug

#2195 Fix crash "FragmentManager has been destroyed"
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
Labels: bug

#2187 Add a toggle for image item scaling behavior.
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/widget/WidgetImageView.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefKeys.kt
  mobile/src/main/res/layout/activity_chart.xml
  mobile/src/main/res/layout/itempickerlist_item.xml
  mobile/src/main/res/layout/notificationlist_item.xml
  mobile/src/main/res/layout/widgetlist_chartitem.xml
  mobile/src/main/res/layout/widgetlist_icontext.xml
  mobile/src/main/res/layout/widgetlist_imageitem.xml
  mobile/src/main/res/layout/widgetlist_videomjpegitem.xml
  mobile/src/main/res/values/attrs.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
Labels: enhancement

#2128 Support battery saver
  mobile/src/main/java/org/openhab/habdroid/core/NotificationHelper.kt
  mobile/src/main/java/org/openhab/habdroid/core/OpenHabApplication.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ChartActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/CloudNotificationAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemPickerAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/LogActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
Labels: enhancement

#2201 Fix fragement manager IllegalStateException
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentControllerOnePane.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentControllerTwoPane.kt
Labels: bug

#2170 Suggest to visit status.openhab.org if there's an issue with myopenhab
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#2194 Use Item tags for tile icon suggestion
  mobile/src/main/java/org/openhab/habdroid/background/tiles/AbstractTileService.kt
  mobile/src/main/java/org/openhab/habdroid/model/Item.kt
  mobile/src/main/java/org/openhab/habdroid/model/ParsedState.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/TileItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/res/drawable/ic_power_settings_black_24dp.xml
  mobile/src/test/java/org/openhab/habdroid/model/ItemTest.kt
Labels: enhancement

#1900 Add support for configuring multiple OH targets
  docs/USAGE.md
  mobile/build.gradle
  mobile/src/foss/java/org/openhab/habdroid/core/CloudMessagingHelper.kt
  mobile/src/foss/java/org/openhab/habdroid/core/NotificationPoller.kt
  mobile/src/full/java/org/openhab/habdroid/core/CloudMessagingHelper.kt
  mobile/src/full/java/org/openhab/habdroid/core/FcmRegistrationService.kt
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/java/org/openhab/habdroid/core/NotificationHelper.kt
  mobile/src/main/java/org/openhab/habdroid/core/UpdateBroadcastReceiver.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/AbstractConnection.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/DefaultConnection.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/DemoConnection.kt
  mobile/src/main/java/org/openhab/habdroid/model/ServerConfiguration.kt
  mobile/src/main/java/org/openhab/habdroid/model/ServerProperties.kt
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ChartActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/CloudNotificationAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/CloudNotificationListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ConnectionWebViewClient.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemPickerAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/LogActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/WebViewFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/ItemUpdateWidget.kt
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/VoiceWidget.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/BetaPreference.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/NotificationPollingPreference.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/PrimaryServerPreference.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefKeys.kt
  mobile/src/main/res/drawable/ic_menu_down_24dp.xml
  mobile/src/main/res/drawable/ic_menu_up_24dp.xml
  mobile/src/main/res/drawable/rounded_corner_box.xml
  mobile/src/main/res/layout/drawer_header.xml
  mobile/src/main/res/layout/pref_beta.xml
  mobile/src/main/res/menu/left_drawer.xml
  mobile/src/main/res/menu/server_editor.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
  mobile/src/main/res/xml/preferences_local_connection.xml
  mobile/src/main/res/xml/preferences_remote_connection.xml
  mobile/src/main/res/xml/preferences_server.xml
  mobile/src/test/java/org/openhab/habdroid/core/connection/ConnectionFactoryTest.kt
  mobile/src/test/java/org/openhab/habdroid/core/connection/DefaultConnectionTest.kt
  mobile/src/test/java/org/openhab/habdroid/util/PreferencesUtilTest.kt
Labels: documentation, enhancement

#2226 Bump com.google.android.material to 1.2.1
  mobile/build.gradle
Labels: dependencies
