Repository openhab/openhab-android, pull requests merged in 2020-05, with the labels that each got.

#1971 Use same animation when opening prefs
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/activity/ContentController.kt
Labels: bug

#1977 Remove unused `@Suppress`
  mobile/src/main/java/org/openhab/habdroid/core/OpenHabApplication.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
Labels: code enhancement

#1976 Remove unused resources
  mobile/src/main/res/drawable/ic_color_lens_orange_340dp.xml
  mobile/src/main/res/values/arrays.xml
  mobile/src/main/res/values/colors.xml
  mobile/src/main/res/values/dimens.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/values/styles.xml
Labels: code enhancement

#1972 WorkManager: Use enqueueUniqueWork
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
Labels: code enhancement

#1993 Correctly theme dialogs
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
Labels: bug

#1986 Fix crash when scheduling periodic workers
  mobile/src/full/java/org/openhab/habdroid/core/CloudMessagingHelper.kt
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/core/UpdateBroadcastReceiver.kt
  mobile/src/main/java/org/openhab/habdroid/core/connection/ConnectionFactory.kt
  mobile/src/main/java/org/openhab/habdroid/model/IconResource.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ConnectionWebViewClient.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/homescreenwidget/ItemUpdateWidget.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/ItemUpdatingPreference.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
  mobile/src/main/java/org/openhab/habdroid/util/Util.kt
  mobile/src/test/java/org/openhab/habdroid/core/connection/ConnectionFactoryTest.kt
Labels: bug

#1994 Video widget: Data saver improvements
  mobile/src/foss/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/res/layout/widgetlist_videoitem.xml
Labels: bug

#1998 Fix crash when log is too large to share
  mobile/src/main/java/org/openhab/habdroid/ui/LogActivity.kt
  mobile/src/main/res/values/strings.xml
Labels: bug

#2003 Avoid flashing progress indicator in action bar
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/res/layout/activity_main.xml
Labels: enhancement

#2005 Accept short URL's (without host and port)
  mobile/src/main/java/org/openhab/habdroid/ui/activity/PageConnectionHolderFragment.kt
Labels: enhancement

#1995 Ask for permission when enabling 'Send wifi name'
  docs/USAGE.md
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/ItemUpdatingPreference.kt
  mobile/src/main/res/values/strings.xml
Labels: bug, documentation

#1991 Send DND mode
  docs/USAGE.md
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefKeys.kt
  mobile/src/main/res/drawable/ic_minus_circle_off_outline_grey_24dp.xml
  mobile/src/main/res/drawable/ic_minus_circle_outline_grey_24dp.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences_device_information.xml
Labels: documentation, enhancement

#2016 Color picker: Always send HSV
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
Labels: bug

#2029 Revert "Bump security-crypto from 1.0.0-rc01 to 1.0.0-rc02"
  mobile/build.gradle
Labels: bug

#2028 Docs: Add note about min api for DND mode
  docs/USAGE.md
Labels: documentation

#2025 Fix crash when reading SSID on Android 8
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
Labels: bug

#2033 Fix crash on Android L when changing prefix
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
Labels: bug

#2026 Fix crash in Video item
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
Labels: bug

#1981 Update links in README and CONTRIBUTING
  CONTRIBUTING.md
  README.md
Labels: documentation
