Repository openhab/openhab-android, pull requests merged in 2020-06, with the labels that each got.

#1992 Trim Item and Widget labels
  mobile/src/main/java/org/openhab/habdroid/model/Item.kt
  mobile/src/main/java/org/openhab/habdroid/model/Widget.kt
  mobile/src/test/java/org/openhab/habdroid/model/WidgetTest.kt
Labels: bug

#2015 Listen for schedule based item events when in foreground
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: enhancement

#1983 Replace item prefix with device identifier
  docs/USAGE.md
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/core/VoiceService.kt
  mobile/src/main/java/org/openhab/habdroid/model/NfcTag.kt
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemUpdateWidgetItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/NfcItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/TaskerItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WriteTagActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/DeviceIdentifierPreference.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/ItemUpdatingPreference.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefExtensions.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefKeys.kt
  mobile/src/main/java/org/openhab/habdroid/util/SuggestedCommandsFactory.kt
  mobile/src/main/res/drawable/ic_tag_text_outline_grey_24dp.xml
  mobile/src/main/res/layout/pref_dialog_device_identifier.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
  mobile/src/main/res/xml/preferences_device_information.xml
Labels: documentation, enhancement

#1973 WorkManager: Use foreground service for item updates
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
Labels: enhancement

#1975 Notifications for foss flavor
  assets/store_descriptions/en-US/strings.xml
  docs/USAGE.md
  mobile/src/foss/java/org/openhab/habdroid/core/CloudMessagingHelper.kt
  mobile/src/foss/java/org/openhab/habdroid/core/NotificationPoller.kt
  mobile/src/foss/res/values/strings.xml
  mobile/src/full/java/org/openhab/habdroid/core/CloudMessagingHelper.kt
  mobile/src/full/java/org/openhab/habdroid/core/FcmMessageListenerService.kt
  mobile/src/full/res/values/strings.xml
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/java/org/openhab/habdroid/background/PeriodicItemUpdateWorker.kt
  mobile/src/main/java/org/openhab/habdroid/core/NotificationHelper.kt
  mobile/src/main/java/org/openhab/habdroid/ui/AboutActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ViewExtensions.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/ItemUpdatingPreference.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/NotificationPollingPreference.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/SslClientCertificatePreference.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefKeys.kt
  mobile/src/main/res/layout/pref_dialog_notification_polling.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
Labels: documentation, enhancement, localization

#2048 Specify WorkManager foreground service type in Manifest
  mobile/src/main/AndroidManifest.xml
Labels: bug

#2049 Fix device id preference
  mobile/src/main/java/org/openhab/habdroid/ui/preference/DeviceIdentifierPreference.kt
Labels: bug

#2050 Docs: Send Alarm clock to DateTime item
  docs/USAGE.md
Labels: documentation

#2054 Fix a violating the open-closed principle with dialog preferences
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/CustomInputTypePreference.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/DeviceIdentifierPreference.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/ItemUpdatingPreference.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/NotificationPollingPreference.kt
Labels: code enhancement

#1978 Add custom quick setting tiles
  mobile/build.gradle
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/NotificationUpdateObserver.kt
  mobile/src/main/java/org/openhab/habdroid/background/tiles/AbstractTileService.kt
  mobile/src/main/java/org/openhab/habdroid/background/tiles/TileService1.kt
  mobile/src/main/java/org/openhab/habdroid/background/tiles/TileService10.kt
  mobile/src/main/java/org/openhab/habdroid/background/tiles/TileService11.kt
  mobile/src/main/java/org/openhab/habdroid/background/tiles/TileService12.kt
  mobile/src/main/java/org/openhab/habdroid/background/tiles/TileService2.kt
  mobile/src/main/java/org/openhab/habdroid/background/tiles/TileService3.kt
  mobile/src/main/java/org/openhab/habdroid/background/tiles/TileService4.kt
  mobile/src/main/java/org/openhab/habdroid/background/tiles/TileService5.kt
  mobile/src/main/java/org/openhab/habdroid/background/tiles/TileService6.kt
  mobile/src/main/java/org/openhab/habdroid/background/tiles/TileService7.kt
  mobile/src/main/java/org/openhab/habdroid/background/tiles/TileService8.kt
  mobile/src/main/java/org/openhab/habdroid/background/tiles/TileService9.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/TileItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/TileItemAndStatePreference.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefKeys.kt
  mobile/src/main/res/drawable/ic_account_child_black_24dp.xml
  mobile/src/main/res/drawable/ic_baby_black_24dp.xml
  mobile/src/main/res/drawable/ic_baseline_power_settings_new_black_24dp.xml
  mobile/src/main/res/drawable/ic_bed_outline_black_24dp.xml
  mobile/src/main/res/drawable/ic_face_outline_black_24dp.xml
  mobile/src/main/res/drawable/ic_face_woman_outline_black_24dp.xml
  mobile/src/main/res/drawable/ic_garage_black_24dp.xml
  mobile/src/main/res/drawable/ic_light_switch_black_24dp.xml
  mobile/src/main/res/drawable/ic_lightbulb_outline_black_24dp.xml
  mobile/src/main/res/drawable/ic_openhab_appicon_24dp.xml
  mobile/src/main/res/drawable/ic_paper_roll_outline_black_24dp.xml
  mobile/src/main/res/drawable/ic_tv_black_24dp.xml
  mobile/src/main/res/drawable/ic_webcam_black_24dp.xml
  mobile/src/main/res/drawable/ic_window_shutter_black_24dp.xml
  mobile/src/main/res/menu/tile_prefs.xml
  mobile/src/main/res/values/arrays.xml
  mobile/src/main/res/values/colors.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences.xml
  mobile/src/main/res/xml/preferences_tile.xml
  mobile/src/main/res/xml/preferences_tile_overview.xml
  mobile/src/test/java/org/openhab/habdroid/background/TileServicesTests.kt
Labels: enhancement

#2069 Reduce snackbar duration for snackbars with info purpose
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: enhancement

#2055 Fix crash when reading invalid NFC tag
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/model/NfcTag.kt
Labels: bug

#2056 Docs: Add label and icon to device info items
  docs/USAGE.md
Labels: documentation, enhancement

#2058 Improve launch theme
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/res/values-night/themes.xml
  mobile/src/main/res/values/themes.xml
Labels: enhancement

#2060 Fix UninitializedPropertyAccessException in MainActivity
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: bug

#2070 Improve quick settings tile hint
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#2063 Hide dev id as state option if it would produce errors
  mobile/src/main/java/org/openhab/habdroid/ui/AbstractItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/NfcItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/TaskerItemPickerActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetListFragment.kt
Labels: bug

#2062 Improve success toast for toggle on switches
  mobile/src/main/java/org/openhab/habdroid/background/ItemUpdateWorker.kt
Labels: bug

#2059 Request background location access for sending SSID
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
Labels: bug

#2073 Fix crash when FcmMessageListenerService is started.
  mobile/src/full/java/org/openhab/habdroid/core/FcmMessageListenerService.kt
Labels: bug

#2071 Fix image refresh and image/video pause/resume behavior
  mobile/src/foss/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/full/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
  mobile/src/main/java/org/openhab/habdroid/ui/widget/WidgetImageView.kt
Labels: bug
