Repository openhab/openhab-android, pull requests merged in 2021-06, with the labels that each got.

#2614 New Crowdin updates
  assets/store_descriptions/pl-PL/strings.xml
  mobile/src/beta/res/values-pl/strings.xml
  mobile/src/foss/res/values-pl/strings.xml
  mobile/src/full/res/values-pl/strings.xml
  mobile/src/main/res/values-it/strings.xml
  mobile/src/main/res/values-iw/strings.xml
  mobile/src/main/res/values-pl/strings.xml
Labels: localization

#2616 Update USAGE.md
  docs/USAGE.md
Labels: documentation

#2618 Add fan and text icons for quick tiles
  mobile/src/main/java/org/openhab/habdroid/background/tiles/AbstractTileService.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/res/drawable/ic_fan_black_24dp.xml
  mobile/src/main/res/values/arrays.xml
  mobile/src/main/res/values/strings.xml
Labels: enhancement

#2598 Redirect Gadgetbridge Device Actions to openHAB server
  docs/USAGE.md
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/EventListenerService.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefKeys.kt
  mobile/src/main/res/drawable/ic_watch_outline_grey_24dp.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences_device_information.xml
  mobile/src/test/java/org/openhab/habdroid/background/EventListenerServiceTest.kt
Labels: documentation, enhancement

#2619 New Crowdin updates
  mobile/src/main/res/values-de/strings.xml
  mobile/src/main/res/values-es-rUS/strings.xml
  mobile/src/main/res/values-es/strings.xml
  mobile/src/main/res/values-it/strings.xml
  mobile/src/main/res/values-iw/strings.xml
Labels: localization

#2626 Tasker: Don't declare plugin as condition
  mobile/src/main/AndroidManifest.xml
Labels: bug

#2628 Make settings_gadgetbridge_howto_url non-translatable
  mobile/src/main/res/values/strings.xml
Labels: code enhancement

#2629 Update Gradle Wrapper
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: dependencies

#2627 Fix SslClientCertificatePreference persistence
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/preference/SslClientCertificatePreference.kt
Labels: bug

#2624 Refresh FullscreenImageActivity
  mobile/src/main/java/org/openhab/habdroid/ui/FullscreenImageActivity.kt
  mobile/src/main/java/org/openhab/habdroid/ui/WidgetAdapter.kt
Labels: enhancement

#2623 New Crowdin updates
  mobile/src/beta/res/values-es-rUS/strings.xml
  mobile/src/main/res/values-cs/strings.xml
  mobile/src/main/res/values-de/strings.xml
  mobile/src/main/res/values-es-rUS/strings.xml
  mobile/src/main/res/values-es/strings.xml
  mobile/src/main/res/values-fi/strings.xml
  mobile/src/main/res/values-fr/strings.xml
  mobile/src/main/res/values-hu/strings.xml
  mobile/src/main/res/values-it/strings.xml
  mobile/src/main/res/values-iw/strings.xml
  mobile/src/main/res/values-ja/strings.xml
  mobile/src/main/res/values-nl/strings.xml
  mobile/src/main/res/values-pl/strings.xml
  mobile/src/main/res/values-pt-rBR/strings.xml
  mobile/src/main/res/values-ru/strings.xml
  mobile/src/main/res/values-uk/strings.xml
Labels: localization

#2630 New Crowdin updates
  assets/store_descriptions/zh-CN/strings.xml
  mobile/src/foss/res/values-zh-rCN/strings.xml
  mobile/src/full/res/values-zh-rCN/strings.xml
  mobile/src/main/res/values-iw/strings.xml
  mobile/src/main/res/values-zh-rCN/strings.xml
Labels: localization

#2638 Fix crash when shortcut title is empty
  mobile/src/main/java/org/openhab/habdroid/ui/activity/AbstractWebViewFragment.kt
Labels: bug

#2635 New Crowdin updates
  mobile/src/main/res/values-hu/strings.xml
  mobile/src/main/res/values-pt-rBR/strings.xml
  mobile/src/main/res/values-zh-rCN/strings.xml
Labels: localization
