Repository openhab/openhab-android, pull requests merged in 2022-05, with the labels that each got.

#2894 Hide microphone icon when voice recognizer is unavailable
  docs/USAGE.md
  mobile/src/main/java/org/openhab/habdroid/ui/MainActivity.kt
Labels: documentation

#2893 Implement forceAsItem-option for charts
  mobile/src/main/java/org/openhab/habdroid/model/Widget.kt
  mobile/src/main/java/org/openhab/habdroid/util/ExtensionFuncs.kt
Labels: enhancement

#2901 DOCS: Fix broken link
  docs/USAGE.md
Labels: documentation

#2897 Send list of connected bluetooth devices
  docs/USAGE.md
  mobile/src/main/AndroidManifest.xml
  mobile/src/main/java/org/openhab/habdroid/background/BackgroundTasksManager.kt
  mobile/src/main/java/org/openhab/habdroid/background/EventListenerService.kt
  mobile/src/main/java/org/openhab/habdroid/ui/PreferencesActivity.kt
  mobile/src/main/java/org/openhab/habdroid/util/PrefKeys.kt
  mobile/src/main/res/drawable/ic_baseline_bluetooth_disabled_grey_24dp.xml
  mobile/src/main/res/drawable/ic_baseline_bluetooth_grey_24dp.xml
  mobile/src/main/res/values/strings.xml
  mobile/src/main/res/xml/preferences_device_information.xml
Labels: enhancement, documentation

#2906 New Crowdin updates
  mobile/src/main/res/values-bg/strings.xml
  mobile/src/main/res/values-ca/strings.xml
  mobile/src/main/res/values-cs/strings.xml
  mobile/src/main/res/values-de/strings.xml
  mobile/src/main/res/values-es-rUS/strings.xml
  mobile/src/main/res/values-es/strings.xml
  mobile/src/main/res/values-fi/strings.xml
  mobile/src/main/res/values-fr/strings.xml
  mobile/src/main/res/values-hu/strings.xml
  mobile/src/main/res/values-it/strings.xml
  mobile/src/main/res/values-iw/strings.xml
  mobile/src/main/res/values-ja/strings.xml
  mobile/src/main/res/values-lb/strings.xml
  mobile/src/main/res/values-pl/strings.xml
  mobile/src/main/res/values-pt-rBR/strings.xml
  mobile/src/main/res/values-ru/strings.xml
  mobile/src/main/res/values-uk/strings.xml
  mobile/src/main/res/values-zh-rCN/strings.xml
Labels: localization

#2914 Explicitly declare some features as not required
  mobile/src/main/AndroidManifest.xml
Labels: bug

#2915 New Crowdin updates
  assets/store_descriptions/bg-BG/strings.xml
  mobile/src/foss/res/values-bg/strings.xml
  mobile/src/full/res/values-bg/strings.xml
  mobile/src/main/res/values-bg/strings.xml
Labels: localization

#2921 Optimize imports
  mobile/src/foss/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/full/java/org/openhab/habdroid/ui/MapViewHelper.kt
  mobile/src/main/java/org/openhab/habdroid/ui/ItemPickerAdapter.kt
Labels: code enhancement

#2920 Suppress unused warnings for Item.Tag
  mobile/src/main/java/org/openhab/habdroid/model/Item.kt
Labels: code enhancement

#2924 New Crowdin updates
  mobile/src/main/res/values-ca/strings.xml
Labels: localization
